[2015-10-21 11:20] janpanschab opened #1 "Lint"
Fix eslint process. Currently broken because of babel/es6 syntax in app. Also support different settings for dev mode.

[2015-10-21 11:22] janpanschab opened #2 "Clear package.json"
In `package.json` are packages which are not used.

[2015-10-21 13:19] vbulant commented on #1
Already on it.

[2015-10-21 20:19] janpanschab commented on #1
Problem is to merge options once for dev mode and once for production mode.

[2015-10-21 21:01] janpanschab commented on #1
Aha, so merging of options is like: base options are in .eslintrc and options from gulp task (api) are merged with .eslintrc?

[2015-10-22 05:31] janpanschab opened #3 "Double lint and less error message"
Eslint error message logged twice. Once unformatted and once formatted. Displayed should be only formatted.
The same is on less compilation.

[2015-10-22 10:30] #2 closed, assigned to nobody

[2015-10-22 10:46] janpanschab opened #4 "Styleguide"
Add SC5 styleguide config from Yachtacharter.

[2015-10-22 10:51] janpanschab opened #5 "Watch"
Try gulp-watch or este-watch. Default gulp.watch does not trigger new or deleted files.

[2015-10-22 10:53] omladek commented on #5
In gulpfile.babel.js you have to escape the expression for subfolders like this (tested on yachcharter):

gulp.watch(`${lessPath}/\**\/\*.less`, ['less']);
gulp.watch(`${srcPath}/\**\/\*.swig`, ['swig']);

[2015-10-22 12:42] vbulant commented on #1
Yep, exactly.
Separation between dev/prod is fixed and tested, I consider this done.

[2015-10-22 12:42] #1 closed, assigned to vbulant

[2015-10-22 13:07] vbulant commented on #3
Regarding eslint messages – it's caused by eslint.failOnError(). I removed it for --dev so that eslint displays error messages only once.

But we need to keep it for prod so that gulp returns correct exit status. (Without it, gulp always returns 0.)

[2015-10-27 10:44] janpanschab commented on #3
Browserify stack is displayed after lint error.

[2015-10-27 10:46] janpanschab opened #6 "Static prototype deployment"
From YCH

[2015-10-29 10:01] janpanschab opened #7 "Swig error stops watching swig files"
https://github.com/colynb/gulp-swig/issues/26
Also try to format error for better reading.

[2015-10-30 10:32] vbulant opened #8 "Update readme.md"
Create meaningful getting started intro…

[2015-10-30 10:45] vbulant commented on #7
Caused by stopping the task on error anywhere in the pipe.
This will be "fixed" in Gulp 4.x out of the box: https://github.com/gulpjs/gulp/issues/358

We'll introduce temporary workaround using `gulp-plumber`.

[2015-10-30 11:22] #7 closed, assigned to vbulant

[2015-10-30 13:40] vbulant commented on #3
**Current status:** ![eslint_watchify_err](https://cloud.githubusercontent.com/assets/821851/10846974/a55805d8-7f13-11e5-81cb-fcb338f043e2.png)

Eslint reports syntax errors and watchify displays formatted compilation error (as watchify is not dependent on eslint).
This behavior seems fine for me. What do you think?

If we want to go further with this, we could be able to prevent watchify/browseri

[2015-10-30 13:55] janpanschab commented on #3
This behavior is not good for me, because if I check the terminal I see only some ugly stack trace log and not the error message.
There are 2 accepted solutions from my point of view.
1) run eslint before watchify runs, but it will slow down the dev process http://stackoverflow.com/questions/30362259/run-eslint-before-watchify-runs
2) format browserify error message and not display the stack trace

[2015-10-30 13:56] janpanschab commented on #3
And now I see the image :smile: This is the second point implemented?

[2015-10-30 14:06] #3 closed, assigned to nobody

[2015-10-30 14:09] #5 closed, assigned to nobody

[2015-10-30 14:14] vbulant commented on #5
So, the problem is that `gulp.watch` has problems with globs starting with `./`. And `gulp-watch` as well, apparently: https://github.com/floatdrop/gulp-watch/issues/1

So I added function that sanitizes globs before passing them to watch.
I think it is better than manually removing `./` from path contants.

[2015-10-30 14:15] vbulant commented on #3
Yep, second it is :+1:

[2015-10-30 14:44] #8 closed, assigned to nobody

[2015-11-10 10:52] janpanschab opened #9 "SVG store"
Copy svgstore task from YCH.

[2015-11-10 10:54] janpanschab opened #10 "Decompose to modules"
Decompose to modules: https://blog.simpleblend.net/gulp-organization-structure/

[2015-11-10 10:55] janpanschab opened #11 "Paths in object"
Rework path’s definitions to object.

[2015-11-10 13:36] janpanschab opened #12 "Swig watch reload before task finished"
Sometimes when I save swig template the page is reloaded, but nothing happen. After second safe the changes are reflected. It looks like the reload event is triggered before the swig compilation is finished.

[2015-11-18 12:17] #10 closed, assigned to vbulant

[2015-11-18 12:17] #11 closed, assigned to vbulant

[2015-11-18 12:25] vbulant opened #13 "Add sourcemaps for JS in --dev mode"

[2015-11-18 12:28] #13 closed, assigned to vbulant

[2015-11-18 15:33] vbulant commented on #12
I was not able to reproduce this.

However, there is another approach to reload manually that could help: `.on('end', browserSync.reload)` instead of just injecting changed HTML using `.pipe`.

[2015-12-03 14:45] janpanschab opened #14 "Add NODE_ENV for production builds"
Uglify will remove code used for development (React warnings).

[code]

[2015-12-05 14:51] #14 closed, assigned to nobody

[2016-01-10 20:26] vbulant opened #15 "CSS duplicates caused by less-plugin-glob"
When using glob imports in LESS and processing them using less-plugin-glob, globbed imports are duplicated in final CSS.

[2016-01-10 20:33] vbulant commented on #15
So, when using lessPluginGlob in Grunt stack, everything works just fine. This issue is related to lessPluginGlob in combination with Gulp somehow. I tried all I could think of with no success.

Proposed solution is to replace lessPluginGlob with https://github.com/jsahlen/gulp-css-globbing which is more gulp-ish. Its benefit is that it can be used with any pre/post/processor or even plain CSS so

[2016-01-12 14:31] janpanschab commented on #15
I have just implement gulp-css-globbing on yachtcharter and works great.  :+1:

[2016-01-13 07:59] vbulant opened #16 "Add gulp-strip-debug"
What about adding https://github.com/sindresorhus/gulp-strip-debug at the end of the JS pipeline? (Prod)

[2016-01-13 08:30] vbulant commented on #15
Nice, updated.

[2016-01-13 08:30] #15 closed, assigned to vbulant

[2016-01-13 09:54] janpanschab commented on #16
Is alert always only for debugging? I think not.

[2016-01-13 11:52] vbulant commented on #16
Hmm, sometimes it's not. OK.

[2016-01-13 11:52] #16 closed, assigned to vbulant

[2016-02-03 11:32] vbulant opened #17 "Migrate from swig to nunjucks"

[2016-02-03 12:33] vbulant opened #18 "Exclude index tpl from templates listing"

[2016-02-03 12:40] #17 closed, assigned to vbulant

[2016-02-03 12:44] vbulant commented on #12
After closing https://github.com/actum/gulp-dev-stack/issues/17 it seems that reload after nunjucks compilation works fine.

[2016-02-03 13:09] #18 closed, assigned to vbulant

[2016-02-10 13:27] janpanschab opened #19 "Update to Babel 6"
Switch to Babel 6 and use presets.

[2016-02-11 09:58] #19 closed, assigned to nobody

[2016-02-11 14:58] janpanschab commented on #19
Cool :+1:

[2016-02-15 11:20] janpanschab opened #20 "Browserify don’t know about process.env.NODE_ENV"
React and other libraries need process.env.NODE_ENV for proper minification. Great also for Redux "real world example" workflow.

There are 2 possibilities:
1. use babel - http://babeljs.io/docs/plugins/transform-inline-environment-variables/
2. use envify - using transformation in browserify - https://www.npmjs.com/package/envify

I’m not sure which choose. Babel is maybe more simple to implement

[2016-02-15 12:12] janpanschab commented on #20
On Yachtacharter I just used envify and it saves 55kB - 6% of JS file size.

[2016-02-15 13:18] vbulant commented on #20
Are you sure it doesn't work in the latest version? I've implemented and tested that some time ago.
See https://github.com/actum/gulp-dev-stack/blob/master/gulp/tasks/js.js

There is envify + uglifyify for proper browserify env handling and minification as well as uglify for minification of the whole bundle…

[2016-02-16 08:26] vbulant commented on #20
Yep, it works fine. Related commit: https://github.com/actum/gulp-dev-stack/commit/e46282c2a04e308a12c56e16f9e4021cab1a588c

[2016-02-16 08:39] janpanschab commented on #20
Nice, sorry for that :-)
I did not update our old version on YCH.

[2016-02-16 08:39] #20 closed, assigned to nobody

[2016-02-18 12:14] vbulant opened #21 "Eslint: disallow space before fn paren"
- also disallow space before paren in function call

[2016-02-18 12:22] vbulant opened #22 "Move babel and eslint configs to package.json?"
Both babel and eslint can be configured within package.json (via "babel": { … } and "eslintConfig": { … }).

I like the idea of configuring npm/js modules in package.json instead of having bunch of .rc configs…

Whan do you think about that?

[2016-02-18 12:28] #21 closed, assigned to vbulant

[2016-02-18 12:30] vbulant commented on #21
There is more stuff to tweak, but let's wait for the final code style rules.

[2016-02-18 14:54] janpanschab commented on #22
Not sure, but let’s try it. Go for it.

[2016-02-19 10:43] #22 closed, assigned to nobody

[2016-02-23 15:08] vbulant opened #23 "Update to eslint 2"
- update gulp-eslint to 2.0.0
- update eslint configuration

[2016-02-23 15:08] #23 closed, assigned to vbulant

[2016-02-23 15:09] vbulant opened #24 "Update browser-sync"

[2016-02-23 15:29] #24 closed, assigned to vbulant

[2016-02-23 15:54] vbulant opened #25 "Add lint to watchify rebuilds"
I've found out that eslint isn't called during watchify rebuilds…

[2016-02-23 16:30] janpanschab commented on #25
Sometimes

[2016-02-24 15:53] vbulant opened #26 "_dev template property doesn't work after migration to nunjucks"

[2016-02-28 17:32] vbulant commented on #25
OK, this was just my confusion.

Lint is not connected to watchify. Watchify just bundles js and lint is being called by gulp.watch on changes in watched scripts.

Tested and works. Let's open an issue again if any problem occur.

[2016-02-28 17:32] #25 closed, assigned to vbulant

[2016-03-01 11:07] vbulant commented on #26
It seems that the template is not created in the proper destination (dist.base).

[2016-03-01 16:35] #26 closed, assigned to nobody

[2016-03-03 07:50] #9 closed, assigned to janpanschab

[2016-03-03 11:10] vbulant opened #27 "Move prettify to tpl task"

[2016-03-03 11:10] #27 closed, assigned to vbulant

[2016-03-03 18:51] vbulant commented on #27
Having `prettify` as a separate task clearly was a mistake.

[2016-03-04 14:52] janpanschab opened #28 "Clean all task"
Add task for cleaning all builded, compiled, transpiled files also for `src` folder. Good for testing. Simulate clean git cloned repo.

[2016-03-05 11:16] vbulant commented on #28
You mean having one clean task which will clean both `src` and `dist` folders or just adding isDev condition into clean task so that it will clean either `src` or `dist` based on `--dev` param?

[2016-03-05 20:24] janpanschab commented on #28
I mean to have sort of `superclean` task. Or reset to defaults. Something like this. One independent task not based on --dev option. But we can discuss it.

[2016-03-05 20:41] vbulant commented on #28
Let's talk about it on monday.

[2016-03-14 07:36] janneuman opened #29 "App JS factory doesn't work in IE"

[2016-03-14 07:37] #29 closed, assigned to nobody

[2016-03-15 10:51] vbulant commented on #28
`clean` cleans all built stuff in `src` of `dist` folder based on `isDev` param (also will be a part of `prepare` task)
`clean:all` (or similar name) will clean both dev and dist (not part of any build task, just for debugging etc.)

[2016-03-15 13:33] #28 closed, assigned to nobody

[2016-03-23 13:25] janpanschab opened #30 "Add node_modules as second documentRoot"
We need to link npm scripts in dev mode from node_modules directory easilly. For example jquery.
Rewrite `server` option to `array` - https://www.browsersync.io/docs/options/#option-server.

[2016-03-23 13:59] #30 closed, assigned to vbulant

[2016-04-01 07:05] janpanschab commented on #12
Closing. Nunjucks are OK.

[2016-04-01 07:05] #12 closed, assigned to nobody

[2016-04-01 07:10] janpanschab opened #31 "SCSS integration"
Prepare switch to SCSS. Use http://sass-lang.com/libsass via wrapper for node https://github.com/sass/node-sass, https://github.com/dlmanning/gulp-sass respectively.
Think about extending Bootstrap in a same way we did it with LESS.

[2016-04-05 13:12] vbulant commented on #31
Add bootstrap 3.
Move BS variables overrides import to main.scss.

[2016-04-05 15:15] #31 closed, assigned to nobody

[2016-04-12 09:50] vbulant opened #32 "Remove underscores in SCSS imports"

[2016-04-12 09:59] vbulant opened #33 "JS boilerplate: refactor classes to functions"
- refactor init/factory functions as separate modules

[2016-04-12 10:00] janpanschab commented on #33
[code]

[2016-04-12 12:28] #32 closed, assigned to nobody

[2016-04-12 14:05] #33 closed, assigned to vbulant

[2016-04-26 09:46] vbulant opened #34 "Change double quotes to single in SCSS"

[2016-04-26 12:39] vbulant opened #35 "Improve factory function boilerplate"
- add constants (exported, private, public)
- add comments to private/public methods etc.

[2016-04-26 12:40] #34 closed, assigned to vbulant

[2016-04-26 13:41] #35 closed, assigned to vbulant

[2016-05-03 10:44] janpanschab opened #36 "Rewrite renaming files"
Eg. I want to add another stylesheet only for admin. I want to have 2 entry files - `main.less` and `admin.less`. I don’t want to copy whole less task, but only to add another entry file. The renaming process is broken than. Fortunately https://www.npmjs.com/package/gulp-rename has suffix option for this use cases.

[2016-05-04 11:50] #36 closed, assigned to vbulant

[2016-05-26 12:54] santa4u89 opened #37 "remove unsafe cssnano optimisations"

[2016-05-31 08:29] janpanschab opened #38 "Favicon generator"
Implement [real favicon generator](https://www.npmjs.com/package/gulp-real-favicon)

[2016-06-07 10:35] janpanschab commented on #37
Possible to turn on safe mode - http://cssnano.co/options/

[2016-06-09 05:22] janpanschab opened #39 "Implement icons ajax loading"
Because of the bug in IE?? (10 or 11) which fails with displaying svg with use attribute, we are inlining svg sprite right after opening body tag. With https://github.com/Keyamoon/svgxuse we are able to load the big svg sprite asynchronously.

[2016-06-10 12:12] zmrhaljiri opened #40 "Port 6000 is blocked at Windows (maybe)"
Please, change it to some other port, for example 8000.

[2016-06-10 12:48] vbulant commented on #40
As far as I know, only ports up to 1024 are reserved.
So this is more likely anything proprietary running on your machine, therefore not an issue to be resolved here.

You are free to change the port locally after cloning the repo…

And btw. http://www.speedguide.net/port.php?port=6000

[2016-06-10 13:19] janpanschab commented on #40
Anyway. Use some other fancy cool port to prevent this behavior in the future.

[2016-06-10 15:37] vbulant commented on #40
OK, 5001 will do.

[2016-06-15 14:09] #40 closed, assigned to nobody

[2016-06-15 14:23] #37 closed, assigned to vbulant

[2016-06-15 14:58] #39 closed, assigned to nobody

[2016-06-15 21:56] janpanschab commented on #39
👍  So coooool (if it works ;-))

[2016-06-15 22:40] vbulant commented on #39
Yep, tested briefly in Chrome and IE9 and worked :8ball:

[2016-06-21 09:45] janneuman opened #41 "Problem with factory function if there is no containers"
In IE11 I got an error "Object cannot use property or method from" (Array.from) if there is no containers in the DOM. I found some explanation on Stackoverflow: http://stackoverflow.com/a/32000509

Solution can be use if condition:
_if (containers.length) {_
or convert array like object to real array
_return [].slice.apply(containers).map(container => fn(container, ...args));_

[2016-07-11 08:44] vbulant commented on #41
Running `npm i babel-polyfill --save` and adding `import 'babel-polyfill';` to the top of your entry js file should work.

You propably have an older version without the polyfill, it is already included in the latest version.

Close the issue if it works please.

[2016-07-11 10:39] #38 closed, assigned to nobody

[2016-08-25 07:21] janpanschab opened #42 "Google Closure Compiler"
Check all options of https://github.com/google/closure-compiler-js. What’s possible with it. Can we integrate it? Can we remove babel? Is final package smaller?

[2016-08-26 08:02] janpanschab opened #43 "CSS linting"
Implement http://stylelint.io/ as CSS linter.
Read about it https://css-tricks.com/stylelint/.
Integrate with https://www.npmjs.com/package/gulp-stylelint.
Use or inspire in prepared configs https://www.npmjs.com/browse/keyword/stylelint-config.
Try to find useful plugins (BEM, ...) https://www.npmjs.com/browse/keyword/stylelint-plugin.

[2016-08-26 08:04] janpanschab opened #44 "Flexbox fixes"
Implement https://github.com/luisrudge/postcss-flexbugs-fixes

[2016-08-26 08:07] janpanschab opened #45 "Airbnb JavaScript styleguide"
Consider implementing Airbnb JS styleguide. It’s great - https://github.com/airbnb/javascript. https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb

[2016-08-26 08:11] janpanschab opened #46 "Eslint plugins"
Consider using these eslint plugins:
https://github.com/babel/eslint-plugin-babel
https://github.com/benmosher/eslint-plugin-import
https://github.com/yannickcr/eslint-plugin-react

[2016-08-26 08:38] #41 closed, assigned to vbulant, janneuman

[2016-08-26 21:23] #44 closed, assigned to nobody

[2016-08-26 21:35] janpanschab opened #47 "Compile files only into dist directory"
With BrowserSync we can serve files from more directories. So in both development and production mode we can compile all files (CSS, JS, HTML) into `dist` folder and serve it from this place.
This should simplify the code a bit.

/cc @vbulant

[2016-08-26 21:51] janpanschab opened #48 "Faster gulp start/build"
As @kettanaito propose, we can significantly speed up gulp start/build. The main problem is babel transpilation.
If we will support node >= 5, we have to rewrite only import/export to require/module.exports and destruction syntax. If we will support node >= 6, destruction is also supported.
For me it’s good trade-off.

/cc @kettanaito @vbulant

[2016-08-26 21:59] janpanschab commented on #48
I’ve just push branch `gulpfile-without-babel`. Difference in empty project is:

|  | `gulpfile.babel.js` | `gulpfile.js` |
| --- | --- | --- |
| `gulp build` | 7s | 4s |

[2016-08-27 02:37] vbulant commented on #48
+1

[2016-08-27 02:39] vbulant commented on #45
+1

[2016-09-06 05:52] janpanschab commented on #43
Implemented stylelint with basic config.

[2016-09-06 12:31] kettanaito opened #50 "Self-hosted fonts"
I have been working on one project recently, and it turned out our gulp dev stack does not provide support to easily include self-hosted fonts. While the most options may be imported via Google Fonts or Typekit, sometimes clients use their own fonts.

**Suggestion:**
We can add something similar that I have implemented on one of the projects:
1. Create a folder named "fonts" in the development roo

[2016-09-06 12:52] kettanaito opened #51 "Passing only changed files to tasks"
How about filtering the files and passing only those changed into various tasks?
Should be pretty resource- and time-efficient.

There are usually plugins for that. Here is the one I've found right away: https://www.npmjs.com/package/gulp-changed.

[2016-09-06 15:50] janpanschab opened #52 "Pre-commit hook"
Add build task to pre-commit hook. http://elijahmanor.com/npm-precommit-scripts/

[2016-09-06 18:53] santa4u89 commented on #50
I think that with [webfont loader](https://github.com/typekit/webfontloader#custom) you can use also custom fonts, we use webfont loader on Zindulka website I think

[2016-09-07 08:25] kettanaito commented on #50
Of course. I am talking here more about folder structure. Where and how to store the fonts, concating them, etc. Later they may be loaded via WebFont or other loader.

It would be good to make some gulp automatization for type conversion too, but I don't know if it's possible (like fontsquirrel does), to translate one font format into all required (ttf => otf, woff, etc.)

[2016-09-07 08:35] kettanaito opened #53 "Adding gulp-load-plugins"
How about adding `gulp-load-plugins` to our development stack?

Basically, it will allow to reference any needed (and installed) plugins within each task. I have noticed we used something similar on Grunt-based projects. Is there any drawbacks for gulp?

More information about the plugin is [here](https://www.npmjs.com/package/gulp-load-plugins).

[2016-09-07 09:22] kettanaito commented on #46
If we include eslint-config-airbnb, it comes with these plugins as dependency :)

[2016-09-07 09:33] kettanaito opened #54 "Moving favicon to gfx"
I would suggest moving favicon exports to `gfx/favicon` folder, which would make development folder cleaner.

Is there any drawback of doing so?

[2016-09-07 10:09] janpanschab commented on #50
👍  to including fonts into dev-stack. Take a look into this [article](https://www.zachleat.com/web/comprehensive-webfonts/). As a first step we could implement [FOUT with class](https://www.zachleat.com/web/comprehensive-webfonts/#fout-class) solution.

[2016-09-07 10:10] janpanschab commented on #51
Which tasks do you mean exactly? In JS task it is solved by browserify/watchify.

[2016-09-08 05:32] janpanschab opened #55 "Gulp 4"
Try to use [gulp v4](https://github.com/gulpjs/gulp/tree/4.0) (not officialy released yet).  Articles [here](https://www.liquidlight.co.uk/blog/article/how-do-i-update-to-gulp-4/) and [here](https://blog.wearewizards.io/migrating-to-gulp-4-by-example) and video [here](https://youtu.be/N42LQ2dLoA8).

[2016-09-08 05:49] janpanschab commented on #53
I like the explicit importing everything what you need. You know exactly which modules you need for this task. It’s a kind of magic.
But I am open to discussion.

[2016-09-08 05:50] janpanschab commented on #46
Cool, good to know!

[2016-09-08 05:50] #46 closed, assigned to kettanaito

[2016-09-08 06:00] janpanschab commented on #54
It is better to have it in root dir, otherwise we need to add proper redirects.

[2016-09-08 06:11] #48 closed, assigned to nobody

[2016-09-08 08:08] kettanaito commented on #53
I think this plugin does not load all the plugins once you include it. It should load them only when you actually call the plugin from its properties:

`import plugins from 'gulp-load-plugins'; // noting is yet loaded`
`...`
`plugins.postCSS(...); // gulp-post-css is being loaded and used`

And you may be able to turn lazy loading off when needed:
`var plugins= require('gulp-load-plugins')({ lazy:

[2016-09-08 08:12] kettanaito commented on #54
@janpanschab Could you please tell me more about those redirects?

[2016-09-08 08:30] kettanaito commented on #45
I suggest to create our own `eslint-config-actum` module and store all the rules there.

**Why:**
1. To clean package.json
   When talking about ESLint rules, they may be many. Putting them all into package.json will make it less readable for developers. Putting them in `.eslintrc` is good, but this way you need to drag this file wherever development stack goes. When the same may be done like this

[2016-09-08 10:57] janpanschab commented on #45
Nice summary. I will check it ASAP. Thx

[2016-09-08 11:00] janpanschab commented on #54
Sorry, I forgot to include [link](http://stackoverflow.com/a/21359390) :-)

[2016-09-08 11:07] ronaldruzicka commented on #54
There is also nice explanation here: [realfavicongenerator](http://realfavicongenerator.net/faq#.V9FFfJN95hE)

[2016-09-08 11:10] janpanschab commented on #53
Lazy loading is not problem for me, it could be feature. My problem is only visual thing. I like explicit imports on top of the file to see what are we using in this module.
If lazy loading is better for performance, let’s try it. But if it’s the same, I would suggest to don’t use it.

[2016-09-08 12:52] kettanaito commented on #54
Thank you for an explanation, guys. Learn something new every day.

[2016-09-08 12:52] #54 closed, assigned to nobody

[2016-09-08 16:36] janpanschab opened #56 "lint:gulpfile task checks only gulpfile.js"
lint:gulpfile task should check also `./gulp` folder scripts.

[2016-09-12 07:33] janpanschab commented on #47
Done

[2016-09-12 07:33] #47 closed, assigned to nobody

[2016-09-12 11:48] #56 closed, assigned to nobody

[2016-09-14 13:16] kettanaito commented on #50
After talking with @ronaldruzicka, it is a good point for us to discuss which font loader to use. We can do that on Front-end meetings :)

[2016-09-15 10:40] janpanschab commented on #50
Just discuss it here. Please prepare some pros and cons. Thanks

[2016-09-17 11:04] janpanschab commented on #4
Install dependency like `npm i -D actum/styleguide` and then merge it to master branch. @ronaldruzicka

[2016-09-19 14:52] ronaldruzicka commented on #4
dependency added and branches merged!

[2016-09-19 14:52] #4 closed, assigned to ronaldruzicka

[2016-09-23 09:33] kettanaito commented on #50
A much bigger question is independent script including.

**What I mean**
I mean that for a proper work, both FaceObserver and WebFront should be included the following way:

[code]

I have, actually, implemented a similar vendor javascript usage on eContracting, where we have 3 separate JS files, which we need to reference separately. We may use that approach, and then include font loader in the h

[2016-10-12 10:40] kettanaito opened #58 "Gulp: Declare the environment only once"
As I have noticed, we often repeat the same boolean check like this:

[code]

What would you say if we move this logic to a separate file, which will determine the type of the environment (dev or prod) once, per any major gulp command start? Basically, it will do the same, and export the boolean result, or even some const flag, which looks more semantic. So then we could use it like this:

[code]

[2016-10-12 10:45] kettanaito commented on #45
Update: I would really recommend to implement this logic toward the linting:
- While on development, linting gives you warnings (not blocking the process) about such things as console instances, multiple lines, etc. So you are not stopped by this, but you still know about it
- When linting the code for production, aforementioned warnings become errors, which will stop the code from building unless

[2016-10-12 11:41] vbulant commented on #45
Agreed. We have something similar currently in `gulp/tasks/lint.js`. It takes production rules from package.json and then softens them in case you’re in DEV environment.

[2016-10-13 16:41] janpanschab commented on #45
@kettanaito Could you test the linter on some our current project code? ETL or Zindulka and extract the problematic rules? Then we can establish a commission and vote for rules settings :-)

[2016-10-14 09:58] vbulant opened #59 "Unify folder names"
As styles and scripts are now always compiled to dist, we can revert back to a good old folder names: `js` and `css` :)

[2016-10-14 10:45] vbulant commented on #59
I think this is a no-go.

After I renamed the folders, the names started to collide (`src/js` vs `dist/js` etc.) because we are setting the `baseDir` (src, dist) in serve task and then link just `css/…` or `js/…`.

I can’t think of any solution to that other than keep using different names in `src` and `dist` folders.

[2016-10-14 10:55] vbulant commented on #43
I think we shouldn’t mix eslint with stylelint in one file (`gulp/tasks/lint.js`).
If you agree, I’ll separate them like `gulp/tasks/eslint.js`, `gulp/tasks/stylelint.js`.

[2016-10-14 11:01] vbulant opened #60 "Package.json readability"
I think I’ve made a stupid mistake of moving eslint, babel etc. configs to package.json.

Now as I’m going through the stack after some time I’m quite lost in the package.json.

I’m willing to move all the configs to separate files (.babelrc, .eslintrc, etc.) if you agree.

[2016-10-14 11:21] janpanschab commented on #53
Does anyone try the performance of lazy loading? @kettanaito @vbulant

[2016-10-14 11:24] janpanschab commented on #59
So once we would like to rename folders we need to be sure compiled files will have unique names - different from files in `src` folder.

[2016-10-14 11:34] vbulant commented on #53
**Nope**, I’d also like to avoid overengineering and stay transparent with module declarations.

But @kettanaito may try it for sure, maybe we’re missing something.

_Regarding closing and reopening the issue, this was just me accidentaly clicking the close button, sorry for that._

[2016-10-14 11:50] vbulant commented on #52
I find this quite disturbing. Especially during gulp-stack development. What about having it as a pre-push hook/script?

**Rationale:**
- `build` on every commit is pretty time consuming
- I often edit stuff which doesn’t deal with build related files

The push hook would still catch any errors before pushing them to the repo without sacrificing the productivity.

[2016-10-14 12:10] janpanschab commented on #60
I agree, but not so critical for me.
@kettanaito will be happy :-)

[2016-10-14 12:11] janpanschab commented on #43
Let’s do it.

[2016-10-14 12:19] janpanschab commented on #59
So do we want to rename folders and keep filenames unique or leave it like it’s now? I would prefer leave it to prevent collisions.

[2016-10-14 12:22] janpanschab commented on #42
I would suggest to wait for Webpack 2. Dead code elimination is the biggest feature of closure compiler for us and Webpack 2 would have it.

[2016-10-14 12:22] #42 closed, assigned to nobody

[2016-10-14 12:37] vbulant commented on #59
I’m fiddling with it right now and it’s getting messy – we’d need to find the right different names for built files and also the gulp task names and config keys wouldn’t match the new folder names (we have 'styles' and 'app' as tasks and configs everywhere).

**So I agree with keeping it as it is now.**

[2016-10-14 12:39] #59 closed, assigned to nobody

[2016-10-14 13:00] janpanschab commented on #52
I like it as pre-commit hook, because it prevent broken commits.

If you are sure you doesn’t deal with build related files you can force a commit with `--no-verify`

[2016-10-14 14:01] #60 closed, assigned to vbulant

[2016-10-14 14:15] vbulant commented on #43
It’s separated: https://github.com/actum/gulp-dev-stack/commit/cd124c843fda1e01830a1f3d54e48fa3069d011e

[2016-10-14 18:49] vbulant commented on #52
I can see your point. Still I’d like to discuss it on the next 1:1 meeting. Closing the issue :)

[2016-10-17 14:41] kettanaito opened #62 "Tasks/config.js: Adopt RWE UK approach"
## 1. Structure

RWE UK has a really good approach towards declaring file paths in the project. Basically, it looks like this:

[code]

Zoltan and I both think this is an approach to follow, since this way we do not re-declare the paths, but rather use previously declared constants (which is impossible in default `module.exports` structure, as it exports the Object).
## 2. Singular import/export

[2016-10-17 14:50] kettanaito commented on #45
@janpanschab okay. I will keep this message updated with the differentiable rules for development/production.

## Rules list

These rules should be strict (prevent from build) on production and warnings on development. If we set proper strictness level on these rules, I think it makes sense to set `failOnError` (or its equivalent) to `true`, because errors should prevent from build.
- `no-multiple

[2016-10-18 11:32] vbulant opened #63 "Styleguide warnings"
When running build of default task, styleguide throws `WARNING: no homepage content found in styleguide.md.`

[2016-10-18 11:43] kettanaito commented on #58
Implemented.
Commit: https://github.com/actum/gulp-dev-stack/commit/71556f38261b049b6331097c7cfb98b038f01364.

If you have any suggestions, please, tell them to me in this topic.

[2016-10-19 12:42] janpanschab commented on #58
Just `gulp/tasks/js.js:46-48` use `PRODUCTION` instead of `!DEVELOPMENT`.

[2016-10-20 08:45] kettanaito commented on #62
Implemented:
https://github.com/actum/gulp-dev-stack/commit/71556f38261b049b6331097c7cfb98b038f01364
https://github.com/actum/gulp-dev-stack/commit/6d5428be060749f38b8af59c7d70894388e36532 (Changes according to @janpanschab comment).

If you have any suggestions how to make this even better, feel free to comment on this issue. Thank you.

[2016-10-20 08:46] kettanaito commented on #58
@janpanschab, thank you for pointing that out. It has been changed: https://github.com/actum/gulp-dev-stack/commit/6d5428be060749f38b8af59c7d70894388e36532.

[2016-10-20 08:50] kettanaito commented on #51
@janpanschab I am talking about some changes checker, which passes only those files which changed to the appropriate tasks. Maybe Gulp runs this automatically, but I remember this being somewhat an issue in Grunt.

Basically, something like this (https://github.com/sindresorhus/gulp-changed) may allow to process only changed files through tasks. For example, if you have been working on some `index

[2016-10-24 11:28] janpanschab commented on #51
@kettanaito I think it is not possible to use it for templates because imagine when you change some partial template - what should be done? You need to change all pages where this partial is used.
AFAIK this approach is useable only on some types of tasks (e.g. linting).

[2016-10-24 11:47] zoltan-kovac opened #64 "Replace browserify with webpack module bundler"
## 1. Use webpack to bundle css, html and javascript files.

Using webpack stream and loaders packages we can move all transformation plugins to one webpack configuration file.
[http://blog.andrewray.me/webpack-when-to-use-and-why/](http://blog.andrewray.me/webpack-when-to-use-and-why/)
## 2. Use webpack for linting and autoprefixing
- Linting and post css plugins can run within webpack pipeline.

[2016-10-24 13:31] kettanaito commented on #51
@janpanschab a good point. And what do you think about other instances?

[2016-10-24 13:52] kettanaito opened #65 "Gulp task: Images"
## Minimize raster graphic

I like what we do with SVG, but we still use raster graphics sometimes. Maybe we should add a general minify task for those files?

[Gulp ImageMin](https://github.com/sindresorhus/gulp-imagemin) looks good, and can optimize SVG images as well. I have tried it on one project and it seems to be working just fine. It gives 20-25% of size decrease in average.
## Naming

It

[2016-10-24 13:54] kettanaito opened #66 "JSON server"
It would be useful to have a ready-to-use JSON server for imitating requests and responses.

What do you think about it?

[2016-10-24 13:56] kettanaito commented on #58
Regarding the latest changes to the `.gulp/config.js`, I would suggest including environment output to main configuration file, and then use it from the `config.js` everywhere:

[code]

[2016-10-24 14:03] kettanaito opened #67 "README.md - Documentation"
I would like to write an updated version of README.md for our development stack.
## Approximate content
1. Summary
2. Features
3. **Getting started**. Steps required to install and use development stack, from A to Z.
4. **Project structure**. Explain in details what is the structure of the project, what is contained in each folder.
5. **Workflow**. The way to work with the stack. What the works st

[2016-10-24 14:50] janpanschab commented on #51
It make sense in eslint task, icon (svgmin only) task and stylelint task.

[2016-10-24 15:33] janpanschab commented on #66
Yes, but only if it starts automatically with `gulp --dev`.

[2016-10-24 20:27] janpanschab commented on #65
# Raster images

I know we are using them sometimes and it is bad. But, OK. Why not. I hope it will be faster than it was. We were using it in grunt projects years ago :-) It was also creating some problems on Windows. Let’s test it.

# Naming

IMHO we don’t want to have different structure in `DEVELOPMENT` and `PRODUCTION` mode. Unlike with js and css we want to have minified version in dev mode,

[2016-10-25 07:33] vbulant commented on #66
We used something similar for MyMETRO.

My experience:
- we needed custom HTTP status codes (500, 404, …) for ajax responses – that should be doable even with `json-server`
- we used it from time to time for a specific feature only so having it run every time with `gulp --dev` would have been a waste of resources…

[2016-10-25 07:42] vbulant commented on #64
Let’s start with 1. – JS bundling and linting.

Then we can decide what to do next.

[2016-10-25 07:58] janpanschab commented on #66
Is it a real problem the waste of resources?

[2016-10-25 08:46] vbulant commented on #66
Well I think there are projects without the need for the mock server.

Having the mock server in gulp --dev pipeline would mean that we need to remove the mock server from gulp pipeline if we don’t need it…

Having the mock server in separate folder (eg. `api/index.js`) means either doing nothing or simply removing the folder.

And if needed, we’d simply run eg. `npm run mock`. I think is less inv

[2016-10-25 10:11] janpanschab commented on #64
But only 1.c. Use webpack to bundle JavaScript. And use Webpack 2 beta version.

Next steps:
1. webpack linting
2. webpack dev server (how to do it with browserSync?)
3. bundle styles with webpack and extract them into separate file

[2016-10-25 10:56] janpanschab commented on #66
OK, so what about to use the power of `yargs` and run it with `gulp --dev --api` (or other option name).

[2016-10-25 12:31] kettanaito commented on #53
Thinking more of this issue (and also given it a test), I think it may be unnecessary. Shorthand references are great, but I think it is more important to see clearly what is used on this particular task, and what may be unused.

I like the structure suggested by @janpanschab to divide imported modules more clearly:

[code]

The only thing I would like to clarify is where to put utilities like `gu

[2016-10-25 12:38] janpanschab commented on #53
From my point of view `gulp-util` and `run-sequence` are gulp related.

[2016-10-25 13:45] kettanaito commented on #65
@janpanschab Thank you for your suggestion. I have implemented single/sprite optimization right now, and will change the naming when moving the branch to master.

[2016-10-25 13:48] kettanaito opened #68 "Gulp: Critical CSS"
One of the most important things on web right now is performance. The latter often means the page load speed, which is directly influenced by the weight and amount of resources page needs. While this is not the general suggestion to optimize stack performance, I am talking more about generating critical CSS.

**Possible solution:** [Gulp Critical](https://github.com/addyosmani/critical).
Idea behi

[2016-10-25 13:56] kettanaito opened #69 "General: HTML5"
How about to prepare HTML5 structure skeleton for our development stack?

I have noticed a few things, which IMHO may be changed to be more up to HTML5 specification:
- We include header inside `.main`. Main should represent the content directly related to the purpose of the page. Header and footer are general components, thus should be moved outside the main container
- Using `<div>` for main con

[2016-10-25 14:08] kettanaito commented on #64
Webpack is particularly interesting for its [Code Splitting](https://webpack.github.io/docs/code-splitting.html). This is a really useful thing to do in the future.

[2016-10-25 14:59] kettanaito commented on #52
How about running only linting tasks on this hook?

[2016-10-26 07:09] vbulant commented on #53
What is the benefit of this separation?

[2016-10-26 08:05] kettanaito commented on #53
@vbulant I think readability only. When there are 10+ modules included in a single task, especially without any oder convention, it takes more time to scan through them. Chaotic order is never good, and alphabetical mixes modules directly related to the task (like `sass` or `uglify`) and modules with no direct connection (rather utilities like `gutil`, `rename`, `path`, etc.)

Separation is import

[2016-10-26 10:50] vbulant commented on #68
This topic should be researched and tested on something real first.
After that we can implement it based on the results.

We agreed that @kettanaito will look into it when he has some spare time.

I’ll close the issue for now, let’s reopen a new one when that time comes.
Thanks for the idea.

[2016-10-26 10:50] #68 closed, assigned to nobody

[2016-10-26 13:21] zoltan-kovac commented on #64
Merged with config-new branch

[2016-10-26 13:21] #64 closed, assigned to nobody

[2016-10-31 11:19] janpanschab commented on #69
Yes, once we drop support for IE8 we can start using HTML5 semantic elements. But instead IDs use classes with BEM in mind.
I would not suggest to use any linter for this. IMHO we don’t need to be strict here (nobody knows how it should be :-)). In future we will write HTML with BE technologies (.NET, Java templates) or maybe in React.

[2016-10-31 11:31] janpanschab commented on #68
As I was testing 2 similar tools about year ago, Gulp critical and one other was not working correctly. Let’s test it again and if the situation will be the same, try to focus on app shells https://developers.google.com/web/updates/2015/11/app-shell or splash content screens like FB do.

[2016-10-31 12:00] kettanaito opened #71 "Configure hosts on project install"
This is rather a minor issue, but maybe you find it useful.

I would like to suggest to add a certain setup process for each new project. For example, when you just cloned the development stack and run `npm install`, guide the developer through a similar process as when creating a new `package.json` (a list of entries awaiting for your input). This way we can allow to set a certain host alias for

[2016-10-31 12:20] kettanaito commented on #68
**Update status:** I have tested Critical on Zindulka and it takes around 2 minutes to compile critical CSS for a big project.

[2016-10-31 13:13] janpanschab commented on #71
I would rather follow the KSS rule. We wan't to have this project easily maintainable. We will not cover all issues, we want to cover the most problematic parts.
What we definitely need to have is better documentation with "install/usage" section, with point for changing project’s `:port` number.

[2016-10-31 13:16] janpanschab commented on #68
Are you processing all templates, or only homepage? How it works with responsivity? And the results, is it OK?

[2016-10-31 13:33] kettanaito commented on #71
@janpanschab a good point. Working on the documentation right now. I will cover this aspect.

[2016-11-01 08:35] #63 closed, assigned to nobody

[2016-11-03 10:10] #53 closed, assigned to nobody

[2016-11-03 10:16] janpanschab commented on #52
Change to pre-push hook.

[2016-11-03 10:40] #43 closed, assigned to nobody

[2016-11-03 10:47] janpanschab opened #73 "Omit linting gulpfile"

[2016-11-03 10:53] vbulant commented on #45
Overrides from este:

[code]

[2016-11-03 11:12] janpanschab opened #74 "Fonts loading"
https://www.souki.cz/jak-efektivne-nacitat-webfonty

[2016-11-03 15:22] kettanaito commented on #45
@vbulant Thank you. Do you think these are all production rules?

[2016-11-03 15:55] vbulant commented on #45
@kettanaito Yes, I do. We use them in production on FirstScreen/Remy.

[2016-11-04 09:18] janpanschab commented on #74
Closed with PR #77

[2016-11-04 09:18] #74 closed, assigned to janpanschab

[2016-11-04 09:19] janpanschab commented on #73
@kettanaito Why we want to do this?

[2016-11-04 09:21] janpanschab commented on #62
@kettanaito Are we able to merge this into master? Could you create PR?

[2016-11-04 10:02] janpanschab commented on #6
Styleguide deployment first.

[2016-11-04 14:20] #45 closed, assigned to kettanaito

[2016-11-04 14:21] #52 closed, assigned to janpanschab

[2016-11-04 14:22] #58 closed, assigned to kettanaito

[2016-11-04 16:02] kettanaito commented on #73
@janpanschab we moved from Babel in Gulpfile, so Gulp tasks cannot be run through ESLint with the same config as we use on common basis development.

The second reason is that you should not really edit Gulp tasks during the development. Ideally, this is done sometimes by more experienced developers and you just pull the changes if you need. This way there is no need to make gulpfile larger by inc

[2016-11-04 16:05] kettanaito commented on #62
@janpanschab I need to fix some linting on it. This was the reason to move it all at once, because now we use new ESLint, but do not have the proper changes on `config-new`, which were established in another branch.

[2016-11-09 08:49] janpanschab opened #80 "Bootstrap 4"
Remove Bootstrap 3 and use only 4th version.

[2016-11-09 13:51] kettanaito commented on #67
Changes in the Documentation will be handled on the respective [Documentation branch](https://github.com/actum/gulp-dev-stack/tree/documentation).

[2016-11-09 15:23] vbulant opened #82 "Create a better JS example instead of Alertifier"
**Reasons**

- We introduced `no-alert` eslint rule
- Alertifier is fabricated, let’s think of something closer to the "real world" :)

[2016-11-09 15:26] kettanaito commented on #82
I would suggest to think from the end result - What should the example teach/demonstrate?

Possible points:
- Possibilities of include/export of ES6
- Quick/smart approach for a routine situation (any sort), at the same time showing Actum's approach in developing JS
- Load of best practices (syntactical and logical)
- **Something you 99% need in each of your project**

It can be a small helper fun

[2016-11-09 16:08] janpanschab commented on #82
With these 2 components/modules (`module.js` and `alertifier.js`) we want to demonstrate:
- Possibilities of include/export of ES6, best practice how to structure code
- Approach for writing components (Factory function pattern is preferred over classes)
- Usage of `init` and `factory` functions

As Vojta wrote,

but defintely not necessary about

[2016-11-09 16:26] vbulant commented on #82
Also, we can try to resolve the schizophrenia with named vs. arrow functions here.

[2016-11-09 16:27] #65 closed, assigned to kettanaito

[2016-11-09 16:27] #69 closed, assigned to nobody

[2016-11-09 16:27] #73 closed, assigned to janpanschab

[2016-11-10 08:24] janpanschab commented on #62
closed by #81

[2016-11-10 08:24] #62 closed, assigned to kettanaito

[2016-11-10 09:12] vbulant opened #83 "Add contributing guidelines"

[2016-11-10 11:47] #83 closed, assigned to vbulant

[2016-11-10 15:16] #6 closed, assigned to janpanschab

[2016-11-10 21:22] janpanschab opened #86 "Create better homepage"
Better `index.nunj` with basic bootstrap usage, reasonable text and HTML5 semantic elements.
Create also better structure in `tpl` folder. Mainly remove `partials` folder.

[2016-11-11 08:03] #80 closed, assigned to janpanschab

[2016-11-11 09:14] janpanschab opened #87 "React"
Prepare basic React structure, add React dependencies. Question is, if there should be Redux. My opinion is yes.

[2016-11-11 09:16] janpanschab opened #88 "Environment check"
We need to check minimal version of npm and node. It doesn’t run on npm < 3 and node < 5.

[2016-11-11 10:13] vbulant commented on #88
Isn't it enough to list the requrements in readme?

[2016-11-11 11:01] janpanschab commented on #88
No, ask Linh and Jan Chalupa :-) Same questions yesterday: why it is not working!?!?!?

[2016-11-11 12:08] vbulant commented on #88
I see :) Can we discuss it in person on monday? (I’m in the office on Mon–Wed due to the public holiday.)

[2016-11-11 12:42] zoltan-kovac commented on #82
for **init**: "using cookies" message based on version/time
- shown by default
- checks if cookie exists on load
- if cookie exists, compare the version/date
- creates new version/date of cookie when closing the notification

for **factory**: button triggering collapse (show/hide content)
- almost in every project
- bs solution is based on jquery

[2016-11-11 12:57] vbulant commented on #82
Great idea!

[2016-11-14 15:05] fidelman commented on #87
@janpanschab
I support the idea about Redux.

[2016-11-14 16:10] fidelman opened #89 "The optimisation styles recompiling"
Hello everyone.
Now I would like to discuss optimising gulp file flow, in this case _style_ task.

**Theory and assumption**

I've noticed in _style_ gulp task all files _(/components/*)_ are imported to the 2-3 files. It says the whole content recompiles again if we rebuild it (watch dev mode) and it does not matter, we change 1 row or the whole file.

**Practise and decision**
I suggest to use g

[2016-11-14 17:04] vbulant commented on #89
[gulp-cached](https://www.npmjs.com/package/gulp-cached) looks good – it seems it won’t add much complexity to the pipeline.

I’d suggest proceeding with test implementation and doing more thorough test (not just one pass). If the results are significant, let’s adopt it.

_What do others think?_

[2016-11-15 08:50] janpanschab commented on #89
Looks good. Let’s test it on much bigger code base. E.g. Conrad in a future.
@fidelman Could you [prepare the task in branch](https://github.com/actum/gulp-dev-stack/blob/master/CONTRIBUTING.md) and once we test it we will create a pull request.

[2016-11-15 15:45] janpanschab opened #90 "CSS globbing package is deprecated"
We need to replace https://github.com/jsahlen/gulp-css-globbing package. It is no longer maintained.

[2016-11-15 17:00] fidelman commented on #90
I've found [https://www.npmjs.com/package/gulp-concat-css](gulp-concat-css), which works **only with CSS**.
Also here are plugins **only for SASS**:
- [https://www.npmjs.com/package/gulp-sass-globbing](url)

- [https://github.com/bleuarg/gulp-sass-glob-import/blob/master/README.md](gulp-sass-glob-import)

- [https://github.com/mathisonian/gulp-sass-bulk-import](gulp-sass-bulk-import)

- [https://g

[2016-11-15 17:02] fidelman commented on #90
I've found [gulp-concat-css](https://www.npmjs.com/package/gulp-concat-css), which works **only with CSS**.
Also here are plugins **only for SASS**:
- [gulp-sass-globbing](https://www.npmjs.com/package/gulp-sass-globbing)
- [gulp-sass-glob-import](https://github.com/bleuarg/gulp-sass-glob-import/blob/master/README.md)
- [gulp-sass-bulk-import](https://github.com/mathisonian/gulp-sass-bulk-import)

[2016-11-16 10:08] vbulant commented on #88
Couldn’t get "engines" field in package.json to work. It doesn’t show any warning when versions don’t match.

[2016-11-16 19:09] kettanaito commented on #87
This is what I started doing with extensions. We may configure the letter to install both React standalone and React+Redux (however, I support the idea to ship them together). I think you have already seen the extensions task.

In combination with npm `scripts` we can do something like `npm run install:react+redux` which will trigger a proper Gulp task. The process of installation should be easy 1

[2016-11-16 19:33] fidelman commented on #87
what about use webpack for react and its environment? Webpack and Gulp work together perfectly.

[2016-11-17 15:20] vbulant commented on #87
@fidelman we are going to use it with React projects.
@zoltan-kovac and @kettanaito prepared `webpack-module-bundler` branch.

For the time being we are sticking with browserify in `master` for non-react projects and `webpack-module-bundler` for React ones.

Maybe we’ll take one step further and use webpack for non-react projects as well, but that’s still undecided. And our webpack integration nee

[2016-11-17 15:33] #90 closed, assigned to vbulant

[2016-11-21 16:06] janpanschab opened #93 "Browser refresh after styles change"
On any SCSS change the styleguide is rebuilded and browserSync reloaded. So the entire browser is reloaded, because it contents not only CSS files.
My recommendation is to disable browserSync reload after styleguide generation.
Also fix parallel runSequence task in CSCC watch.

[2016-11-22 08:50] #93 closed, assigned to janpanschab

[2016-11-23 10:00] janpanschab opened #95 "New template not refresh page"
New `nunj` tempalate not update browserSync. It is compiled to `/dist`.

[2016-11-23 10:02] fallion opened #96 "New .nunj and .scss files are not automatically watched by gulp"
Newly created .nunj files are not automatically watched and compiled by gulp. Therefore BrowserSync does not refresh the page.

[2016-11-23 11:25] janpanschab commented on #95
Duplicate of #96

[2016-11-23 11:25] #95 closed, assigned to nobody

[2016-11-23 11:38] janpanschab commented on #96
Use [gulp-watch](https://www.npmjs.com/package/gulp-watch) instead of builtin `gulp.watch`.

[2016-11-23 14:45] vbulant commented on #87
@kettanaito If you’re working on your extensions, can you please assign this issue to yourself to avoid that someone else starts working on it?

[2016-11-23 17:21] kettanaito commented on #87
@vbulant done. It will take some time, I want to prepare React+Redux and basic component (maybe the very same counter used by Redux examples). It will be in a separate branch.

[2016-11-23 19:16] vbulant commented on #87
I see, no rush.

[2016-11-23 21:26] janpanschab opened #98 "Copy right port to clipboard"
When port is occupied, borwserSync choose another port. But to the clipboard is copied the previous port.

[2016-11-24 08:37] #98 closed, assigned to janpanschab

[2016-11-25 11:37] #96 closed, assigned to janpanschab

[2016-11-26 10:44] #88 closed, assigned to nobody

[2016-11-28 08:35] janpanschab opened #101 "SVG icons"
Investigate better workflow for SVG icons. Symbols are OK, but you are not able to apply full power of styles on it. Inline SVGs are always better. Check this repo: https://github.com/iconic/SVGInjector

[2016-11-28 11:44] fidelman commented on #89
Hello guys!
I have some results, but also I need your opinion about it.

So, I tested the cache keeping in the Conrad project, which has about 30 style modules.
First, I added the cache plugin to the stylelint task:

    return gulp.src(src.styles.all)
        .pipe(cached('stylelint'))     //
        .pipe(debug())                 //
        .pipe(stylelint({
            failAfterError: false,

[2016-11-28 14:57] janpanschab commented on #89
@fidelman Could you push your solution?

[2016-11-29 08:24] fidelman commented on #89
I've pushed to the "89-the-optimisation-styles-recompiling" branch

[2016-11-30 13:25] janpanschab commented on #89
My recommendation is to use the cache solution only where it’s possible. When it cause a problem, don't use it.
So, use it in stylelint task, great! 👍
It is a big problem in scss compilation? Don’t use it.

[2016-11-30 14:40] fidelman commented on #89
@janpanschab , OK, thanks!

[2016-11-30 17:37] kettanaito commented on #101
I want to add that today I've discovered that when you create several folders, which should compile into respective sprites, globbing the folders the way we do now does not provide a desired result. Sprites get overwritten, depending on the files in queue.

It may be that we need to parse folder first, divide into a simple Object with files as entries, and then pass each object to `gulp.src()`.

R

[2016-12-01 10:38] kettanaito opened #104 "SVG: Proper bundling"
**Concept:** each folder under `src/gfx/svg` should represent a sprite where each file in a folder represents an icon belonging to that sprite.

**Issue:** when you have 2+ folders it does not bundle correctly.

**Reason:** in globing all the files go in one stream, which leads to folder analysis being wrong. To cut the long story short, we cannot pass icons from all folders to the glob.

**Soluti

[2016-12-01 13:10] kettanaito commented on #87
@janpanschab @vbulant Please, while I am a little busy with the project, may you help in deciding what will we use as an example for React extension?

I can suggest:
* the same example used for Redux - TODO list. So it will be some List component, which will interact with the store.
* simple click counter on <Button />

Also, I would like to hear any technical moments of React example (folder stru

[2016-12-04 21:24] #89 closed, assigned to nobody

[2016-12-05 08:06] janpanschab commented on #87
@kettanaito I can takeover this task. I have some ideas and hopefully I will have time for it. If you are OK with it, assign it to me.

[2016-12-05 10:46] vbulant commented on #87
Regarding example I suggest using one of the official ones from React or Redux websites so that we don’t need to reinvent anything and refer to the documentation/tutorial if needed.

[2016-12-05 11:57] kettanaito commented on #87
@janpanschab I am completely fine with that. You've seen an example how I tried to achieve that, so maybe that will be helpful :) Assigning it to you.

[2016-12-07 13:02] kettanaito opened #106 "General: process.env"
As I have noticed, we can reuse `process.env` Object to write and read environment type from it. This made me thinking, what if reuse environment from it directly, without having to include config or other files each time we use environment check.

[code]

This way each time you need to know of the current environment, it is stored in `process.env`, a global object.

What do you think?

[2016-12-07 13:05] kettanaito commented on #87
Developing in React with Hot module reloading from Webpack is superb. This is a bold plus to use Webpack :)

[2016-12-07 13:07] kettanaito commented on #71
This question is no longer discussable, so I will close the issue.
Required information about changing the default port will be added in the documentation.

[2016-12-07 13:07] #71 closed, assigned to nobody

[2016-12-07 13:18] kettanaito opened #107 "Styles: Wrong "on" method"
I have stumbled upon an interesting [comment](https://github.com/postcss/postcss/issues/766#issuecomment-195207035) about handling `sass()` error.

[2016-12-07 13:39] kettanaito opened #108 "Layout: main class"
The current usage:
[code]

## Remove "container" class
I would not recommend using bootstrap's `container` class on the root node of page content. Suggesting to nest it inside the `<main>` tag:
[code]

## Remove `role="main"`
There is a [great tool for HTML5 proper markup validation](http://validator.w3.org/nu). When uploaded our `index.html` we get a following error:
[code]
I think this is becaus

[2016-12-07 14:02] vbulant commented on #87
Agreed. I’m curious which HMR library/approach did you use. Will check it out soon :)

[2016-12-07 14:03] vbulant commented on #87
Btw. it is possible to make it work with browserify as well, but that’s no longer relevant to us I guess.

[2016-12-07 14:12] kettanaito commented on #87
@vbulant it is completely possible to use it as middleware in BrowserSync. This is the approach we use on Conrad, since it is not pure React project. I may help in setup of HMR+BrowserSync or HMR standalone as well.

Actually, I must be considered to migrate to webpack completely, but this is another discussion.

[2016-12-07 16:05] janpanschab commented on #106
1) Just setup `process.env.NODE_ENV` correctly based on `argv.dev` and then inside modules/tasks use `process.env.NODE_ENV`.

2) Use it as it is now.

I’m OK with both approaches.
cc @vbulant ?

[2016-12-07 16:24] janpanschab commented on #107
Is it a problem/bug in current version?

[2016-12-07 19:29] vbulant commented on #106
I'm for 1. if it decreases amount of our code. The less code, the better.

[2016-12-07 23:00] kettanaito commented on #106
@janpanschab this is what I am suggesting in this issue (1st option).

[2016-12-08 09:31] janpanschab commented on #106
@kettanaito Then OK! 👍

[2016-12-08 10:33] kettanaito commented on #107
@janpanschab we have the same code as the person in the issue above. It does not produce errors for now, but, eventually, this is improper usage of the method:
[code]

[2016-12-08 10:39] kettanaito commented on #108
It should be also discussed whether we really need to nest `div class="container">` inside `<main>`.

What about instances when nested content has fluid container? Maybe it is better to define container in each `block` macro extension?

[2016-12-08 12:05] janpanschab commented on #108
This depends on project. IMHO this is quite easy task and we don’t need to show best practice here.

[2016-12-08 13:18] janpanschab opened #110 "Flow"
This is must! :-)
Any idea why we should’t use [flow](https://flowtype.org/)?

[2016-12-08 13:27] vbulant commented on #110
Well the only downside is a learning curve for React newbies but still I think we should use it.

[2016-12-08 14:04] kettanaito commented on #108
@janpanschab then I will create a pull request with the changes I currently have.

[2016-12-08 14:43] janpanschab commented on #110
Not related to React but I got it. And it’s valid point. Let’s test it first on our side projects ;-)

[2016-12-08 14:52] vbulant commented on #110
Agreed. Also there are some edge cases – eg. when you wanna enable hot reloading in redux, you need to work with `module.hot` and flow wants you to annotate that but afaik nobody knows how at the moment :)

So we should try and explore it first.

[2016-12-11 21:53] janpanschab commented on #66
Documentation is missing!

[2016-12-11 22:30] vbulant commented on #66
D'oh!

[2016-12-12 15:52] janpanschab commented on #104
close #109

[2016-12-12 15:52] #104 closed, assigned to kettanaito

[2016-12-13 14:46] vbulant opened #113 "Configure babel preset"
We want to use `latest`

[2016-12-13 16:17] janpanschab commented on #87
closed by #111

[2016-12-13 16:17] #87 closed, assigned to janpanschab

[2016-12-14 08:08] #113 closed, assigned to janpanschab

[2016-12-14 08:37] janpanschab commented on #67
@kettanaito I would like to merge this and continue with small improvements of documentation. Would you like to add/change some part? IMHO for now we should only move Extensions part to respective branch. Do you have time for it? If not, I will do it.

[2016-12-16 11:40] kettanaito commented on #67
@janpanschab I have pushed some changes to `documentation` branch. You can continue from there. Thank you.

[2016-12-21 15:54] kettanaito opened #115 "ESLint: Class method uses this"
A rule `class-methods-use-this` is buggy regarding React Components (as noticed by @ronaldruzicka ), and also [here](https://github.com/eslint/eslint/issues/7085).

Possible solutions:
1. Ignore the rule completely (what is a benefit of it?)
2. Use `exceptMethods` option for this rule, as mentioned [here](https://github.com/eslint/eslint/issues/7085#issuecomment-250465391), to make it ignore React

[2016-12-22 09:49] vbulant commented on #115
Ad 1. it tells you that class method is pointless when you don’t need `this` and that you can use plain function instead.
Ad 2. that would help in case of `componentDidMount` etc. but once you need custom `renderSomething()` methods, it’s useless.

I like the hint that you shouldn’t overuse class methods when not needed. But writing render helpers outside of React classes seems weird to me as well

[2017-01-05 15:37] vbulant opened #116 "Duplicate react dep in package.json"
We should keep the one in `dependencies` object.

[2017-01-05 16:31] vbulant opened #117 "Move to project based .eslintrc from eslint-config-actum"
Although it’s a noble idea to have a reusable eslint config package, it’s not that handy for maintenance.

We already discussed it with @janpanschab and suggest to move to the project based config which extends airbnb config.

[2017-01-06 12:51] #116 closed, assigned to vbulant

[2017-01-10 13:18] vbulant commented on #67
Merged. I’d suggest to close this task and create a new more focused one if needed.

[2017-01-10 13:43] #67 closed, assigned to kettanaito

[2017-01-11 15:10] honzachalupa opened #120 "Usage of Gulp variables in task js.js"
`.pipe(source('app.js'))` on line 30 and `.pipe(gulpif(PRODUCTION, rename('app.min.js')))` on line 37 in file js.js should be replaced with variable from Gulp's config.js.

[2017-01-11 22:40] kettanaito commented on #120
There is also a good way to add a suffix instead of duplicating the whole filename.
I remember using this approach, but cannot find the project config where. It looks like this:
[code]
This is just an example. I will post the actual code here if I find it, or maybe you've used it already.

[2017-01-11 23:59] vbulant commented on #120
Yep it's used somewhere in the devstack. Gonna do it like that. Thanks fot the suggestion!

[2017-01-13 12:06] vbulant opened #121 "Correct environment setup for React, Redux"
Run the app in production mode: `gulp` and see the console.

[code]

[code]

[2017-01-13 12:11] vbulant commented on #121
The 2nd warning might be caused by uppercase env string in config.environment.type. I believe it should be lowercase so when the code is being minified, dev/prod conditions can be met:

[code]

[2017-01-13 19:52] kettanaito commented on #121
@vbulant I think both these errors may be solved by setting `process.env.NODE_ENV` to `development/production` (lowercase) when building the app.

I do not have experience testing this, but in Webpack examples when you build app you set NODE_ENV this way, and React catches `propcess.env.NODE_ENV` and build sources appropriately.

Have you tried setting it to prod?

[2017-01-13 22:29] vbulant commented on #121
Yep that’s what I meant by the second comment. As of now, we have uppercase PRODUCTION/DEVELOPMENT values in process.env.NODE_ENV and they should be lowercase as far as I know. Gonna test it as soon as possible. Thanks.

[2017-01-14 13:34] vbulant commented on #121
Setting lowercase `development`/`production` worked 👍

[2017-01-16 06:27] #121 closed, assigned to vbulant

[2017-01-16 06:28] #120 closed, assigned to vbulant

[2017-01-19 17:06] #108 closed, assigned to kettanaito

[2017-01-22 21:49] #107 closed, assigned to vbulant

[2017-01-28 09:22] vbulant opened #128 "Missing license"
We should add suitable license to the repository: https://help.github.com/articles/licensing-a-repository/

[2017-01-28 09:22] vbulant commented on #128
I think MIT if fine.
Gulp uses it and we build on top of it, so I think that’s it.

[2017-01-28 15:42] vbulant opened #129 "Update bootstrap to 4.0.0-alpha.6"
Also, bootstrap should be placed in dependencies instead of devDependencies.

[2017-02-01 12:48] janpanschab opened #130 "Stylelint doesn’t fail after error in production mode"
`failAfterError: DEVELOPMENT ? true : false,`

[2017-02-01 12:51] kettanaito commented on #130
`DEVELOPMENT` is always a boolean:
[code]

[2017-02-01 13:11] kettanaito commented on #130
@janpanschab should correctly rely on environment now: https://github.com/actum/gulp-dev-stack/pull/131.

[2017-02-01 13:53] kettanaito commented on #106
@janpanschab if I understand you correctly, you want to setup `NODE_ENV` value and utilize it. So the further usage looks like:
[code]
Which is technically fine, but will lead to a lot of repetitive code since each comparison should be whether done manually or stored under certain scope. This is why I would suggest to make this check at the same time when updating the `process` object:
[code]
This

[2017-02-01 14:07] vbulant commented on #106
What’s the motivation for the separation? I don’t see any advantage of having process.env.isDevelopment instead of using process.env.NODE_ENV directly…

[2017-02-01 14:29] kettanaito commented on #106
@vbulant to prevent from constant checking of `process.env.NODE_ENV`. Since this is a string, you would need to check each time whether it is equal to "development" or "production". Or create a logic somewhere on top of the setting file, for example:
[code]
The main motivation is the availability scope. If we use `NODE_ENV` directly, we never know under which environment we are unless we check it.

[2017-02-01 14:37] kettanaito commented on #117
@vbulant what were the blocking moments which made it non-maintainable?

[2017-02-01 14:38] vbulant commented on #106
Yep, I agree with having something like `const isDevelopment = (process.env.NODE_ENV === 'development');`

I just didn’t see the difference between checking process.env.NODE_ENV or process.env.isDevelopment…

OK, now we’re on the right track :)

[2017-02-01 15:08] vbulant commented on #117
If you want to tweak the rules you have to modify the eslint-config-actum. Then if it’s fine, you have to publish it… Then it can break another project which uses it. So we could use semver and refer to exact versions.

Still, we think it’s too much of an overhead and having local eslint is more straightforward.

[2017-02-01 16:11] #130 closed, assigned to kettanaito

[2017-02-02 09:19] vbulant opened #132 "Configuration of asset paths"
What about adding asset paths (*/css*, *gfx/svg*, …) to the config.js and then injecting it into the templates so that we can reuse the paths instead of hardcoding them?

Before: `<link rel="stylesheet" href="css/main.css">`
After: `<link rel="stylesheet" href="{{ _cssPath }}/main.css">`

It’s nothing too important coz we don’t change the paths often, but it seems somehow right to me.

[2017-02-02 12:43] kettanaito commented on #117
I thought of workflow to be somehow like:
1. Extend `actum-eslint-config` with the minimal/recommended setup of rules
2. When some tweak is needed, just add it in the project's .eslint (the same place where it extends our rules), not the `actum-eslint-config` repo. Manually set rules will always overwrite extensions.

But if you find it hard to maintain that's okay, then we should use it separatel

[2017-02-07 09:42] #66 closed, assigned to janpanschab

[2017-02-10 09:45] janpanschab opened #133 "Nunjuck templates are reloaded earlier then are compiled"
Do you have the same issue?

On other projects with swig templates solved with `gulp-wait`. Currently I am testing this on KB project. If it will work for me, I will merge it here also.

[2017-02-10 10:06] ronaldruzicka commented on #133
Yes, but not always, usually I have to manually refresh again to see the changes in HTML, but sometimes it works properly.

[2017-02-10 11:00] janpanschab commented on #133
Yes, and that’s why I want to add a short delay before reload by `browserSync`.

[2017-02-13 09:18] ronaldruzicka opened #134 "Missing meta viewport tag in default template"
I guess we should add the meta viewport tag to the default template, what do you think?

[2017-02-13 09:30] ronaldruzicka opened #135 "single vs double colon pseudo elements"
I recently found out, that stylelint requires a single colon pseudo-elements (:before, :after, etc.), but it's recommended to use double colon (::before, ::after, etc.). Since we don't have to support IE8, we should use double colon pseudo-elements, to better distinguish from pseudo-clasess.

[2017-02-13 10:39] kettanaito commented on #134
@ronaldruzicka 100% we should. Strange it wasn't there.

[2017-02-13 11:15] kettanaito opened #136 "Gulp: development flag"
This is more a usability issue regarding the development workflow.

Since we use `gulp --dev` in the most cases, and `gulp` quite rarely, it makes sense to make development a default environment (vice versa compared to what is it right now). So:
[code]
And
[code]

I find this quite useful, but I want to hear your opinion as well.

[2017-02-13 11:17] ronaldruzicka commented on #136
Good idea, I already used it like that on one of my own projects

[2017-02-13 11:22] kettanaito commented on #133
I would suggest to try:
* Different BrowserSync reloading methods. There is `bs.reload()` and `bs.stream()` (the one we use now), and there may be more. I remember digging into BrowserSync docs, and all of them seem to have quite specific usage, maybe we are just using a wrong one
* Rather rely on callback from `nunjucks.compile()` method, it might be a possible that pipeline continues before temp

[2017-02-13 12:52] janpanschab commented on #136
There are 3 modes, the last one is not documented :-(

1. `gulp --dev` - runs dev mode
2. `gulp build` - runs production mode - only compilations
3. `gulp` - runs production mode with static server but without watch (gulp build + browserSync server)

Do we need 3rd mode? If yes, how would we run it?

[2017-02-13 13:02] vbulant commented on #136
I like the third mode. Using it, you can test the proper bundling of all production assets.

[2017-02-13 13:39] ronaldruzicka commented on #136
What about this?

1. `gulp` - runs dev mode
2. `gulp build --prod` - runs production build
3. `gulp --prod` - runs production build with browserSync

[2017-02-13 15:00] kettanaito commented on #136
Well, I would suggest just flip the logic of `gulp --dev` right now, since refactoring all the tasks may take additional time and discussion (for example, `prepare` task is essentially `build` task, which runs differently in dev and prod, so it makes sense to have `build` and `build --prod` instead of `prepare`)

[2017-02-13 15:07] vbulant commented on #136
Well, in the grand scheme of things, I think having PRODUCTION as default is always a good option.

[2017-02-13 16:04] janpanschab commented on #136
Please think about all running projects. Imagine situation you are working on more than one project and you don’t know if run `gulp` or `gulp --dev`. How can we prevent this situation? The same for BE developers. They will hate us!
Should we switch this commands on all projects? Or create some patch? Who will do it? What will be the timing?

[2017-02-13 21:33] kettanaito commented on #136
@vbulant @janpanschab I understand the maintenance issues. But this would be a nice thing to have on new projects. If think about it, relying on implemented solution limits us in improving our devstack, we may have the same situation when migrating to Webpack, for example. This concerns almost any relatively big change.

But I really understand the consequences, I am just thinking of things which

[2017-02-14 11:37] vbulant commented on #136
@kettanaito I’m not against improvements at all.

Let me explain my point of view.

The devstack is intended to be used throughout our local dev env and CI servers – Circle, .NET deployment, etc (correct me if I’m wrong, @janpanschab). And because CI servers are considered production envs, our devstack should default to production in my opinion.

It’s nice and convenient to have development env as

[2017-02-15 10:05] janpanschab commented on #136
I feel the same. I can sign it.
@vbulant great explanation.

[2017-02-15 11:25] kettanaito commented on #136
@vbulant then for the sake of better maintenance I would think of having 1 legacy version, and 1 up-to-notch version of development stack. Projects on older versions may utilize the devstack as they have used to, at the same time we will not have any obstacles to introduce really any technology we wish to new projects, without thinking of how it may affect the old ones.

This is more relative to t

[2017-02-15 11:35] vbulant commented on #136
@kettanaito When that time comes (need for split to legacy/top-notch versions), we can think about it for sure.

But I think generally it’s not a problem. When you add webpack instead of browserify, but the API stays the same (gulp build), it’s going to work just fine… So imho it’s not about features that much as it is about the API which is used by deployments, CLI etc…

[2017-02-15 13:40] kettanaito commented on #136
@vbulant agree :)

Well, I don't think bringing another level of commands abstraction (in the form of npm scripts) is a good idea, it may lead to more confusion than easing in the workflow.

[2017-02-16 09:56] vbulant opened #139 "Readme: how to update"
I’d like to add an info how to merge updates from devstack to the projects.
We can use fullstack team’s solution: https://github.com/actum/devstack#updates-from-devstack-to-your-project

Are you with me?

[2017-02-16 12:36] ronaldruzicka opened #140 "styleguide doesn't refresh html automatically"
If you change the HTML of some component which is in the styleguide (e.g. in form.scss), you have to manual refresh again to see the result

[2017-02-23 00:36] vbulant commented on #135
"It's recommened to use double colon" – could you link the recommendation?

[2017-02-23 11:05] ronaldruzicka commented on #135
I can't find an article where they really **recommend** it, but it was created to differentiate the pseudo classes from elements, and since we don't have to support IE8, which is the only browser not supporting `::pseudo-element` syntax, we probably shouldn't force the older syntax by stylelint. And maybe leave it for the developer to decide.

[2017-03-01 14:06] ronaldruzicka commented on #117
Example of extending:

[code]

[2017-03-01 14:38] ronaldruzicka opened #146 "new nunjucks templates structure"
I'd like to introduce new structure for nunjucks templates.

For now, we usually have **base(atoms)**, **components**, and pages are generated from any `.nunj` in **tpl** folder.
So, e.g. if you want to see the component you are working on, you also have to create a page which has this component. Because `.nunj` files from other folders that are inside **tpl** are not being converted to `.html`.
W

[2017-03-01 14:58] kettanaito commented on #146
👍 I would go for this if we can list it in `index.nunj` dynamically.

[2017-03-02 11:47] ronaldruzicka commented on #101
I don't know if this is the issue with the styling, but if you get an SVG that has inline `fill` (or any other) attribute, you are not able to change it with CSS, e.g.:
[code]
But we could set up a rule inside `gulp-svgmin`, that would automatically remove attributes, that we would like to change in CSS, e.g.:
[code]
FYI, the `removeAttrs` has to be before `cleanupIDs`(already in devstack), otherw

[2017-03-02 14:37] ronaldruzicka commented on #101
I have another enhancement to the svg macro that we currently have. The problem now is, that we cannot change the size of the svg, because we don't have a modifier class to the `<svg>` element itself, only for `<use>` element:
[code]
But I propose to have two macro elements, one with `<svg>` and one with `<use>`:
[code]
Then we would include the svg elements like this:
[code]

What do you think? I

[2017-03-02 17:46] kettanaito commented on #101
@ronaldruzicka regarding `fill` issue. Remove attributes will not always fix the issue. The problem here is in the SVG source (we have had a hard time with proper SVG on Conrad, and it is *doable*). If icon is prepared poorly, when you remove `fill` and `strokes` it will break, and you will not be able to style it with CSS at all. So this is more a question for picking right icons and asking desig

[2017-03-02 23:02] ronaldruzicka commented on #101
Ok of course, we can talk about it :)

But anyway, regarding the svg macro, I would still propose this change, so that we can easily apply styles (modifier classes) also on the `<svg>` and manage e.g. the size of it.

[2017-03-02 23:03] #134 closed, assigned to nobody

[2017-03-03 09:23] ronaldruzicka opened #147 "Stylelint config standard update to 16.0.0"
I would suggest to update the `stylelint-config-standard` package to the latest version `16.0.0`, because the version we use has some deprecated rules:
![snimek obrazovky 2017-03-03 v 10 17 22](https://cloud.githubusercontent.com/assets/20684387/23545361/5969473a-fffb-11e6-82cd-786ba462f2e6.png)

[2017-03-03 09:51] vbulant commented on #147
Agreed, go ahead pls :)

[2017-03-22 11:09] #147 closed, assigned to ronaldruzicka

[2017-03-22 11:23] ronaldruzicka opened #149 "stylelint number-leading-zero null"
I just found out, that we are using a null value in number-leading-zero rule for stylelint. Does it mean that we want to use both `.4s` and `0.4s` syntax? Shouldn't we agree on one option to use?

I'm personally using syntax without the leading zero: `.4s`

For example it is recommended on [codestyle.co](http://codestyle.co/Guidelines/css#Syntax)

[2017-03-22 11:29] kettanaito commented on #149
Definitely should agree on one approach.
My vote goes for `.4s`.

[2017-03-23 13:37] fidelman opened #150 "Non-valid feature table"
Hi guys

The features table in the README looks like non-valid:
![screen shot 2017-03-23 at 14 36 00](https://cloud.githubusercontent.com/assets/15198653/24250156/32163572-0fd6-11e7-9cb6-25e074cc8765.png)

[2017-03-24 15:15] ronaldruzicka opened #151 "merge media queries"
Should we add a media query merge tool to group together styles that are under the same media query?
e.g:
[code]

would result to:
[code]
I know about the [mqpacker](https://github.com/hail2u/node-css-mqpacker)

[2017-03-26 20:41] janpanschab commented on #151
Would be nice to have results from some real projects. Please, test it on 2 or 3 current projects. Test the size and also problem with specificity (order).

[2017-03-27 09:42] kettanaito commented on #151
How do you think it would work if we do something like:
[code]
Do we forbid this kind of usage as a part of CSS quality assurance? For me it makes sense in cases certain media query should add up some properties.

[2017-03-27 09:51] kettanaito commented on #106
After a continuous investigation, there is an issue with `process.env.CUSTOM_VARIABLE` when using on server side (NodeJS). The specification states that all custom properties under `process.env` **should** always be string. In case they are not, they are converted to the string.

This raises the issue when trying to use `process.env.isDevelopment` on server side. For client this reference will ret

[2017-03-27 11:30] vbulant commented on #106
Can’t we just use process.env.NODE_ENV with the string value as React and others do?

[2017-03-28 07:00] ronaldruzicka commented on #151
@kettanaito I don't really see the issue with that media query. Regarding this plugin, it just takes duplicate media queries and merge them to single one, so this would just create another media query group, and if more selectors would have it, they would be merged together under one media query. But as I tested now, if you are using a default bootstrap 4 mixin you end up with `@media (min-width:

[2017-03-29 08:51] ronaldruzicka opened #152 "SVG task fail when creating new svg icon to sprite folder"
When you have a `gulp --dev` running and you create a new icon inside a SVG sprite folder, the task will shut down with an error
![image](https://cloud.githubusercontent.com/assets/20684387/24446319/5b175b04-146d-11e7-8928-b23adb06b30d.png)

But if you create the icon inside svg folder outside the sprite folder, it works normally, nothing breaks.

Does anyone have the same behavior?

[2017-03-31 13:11] kettanaito commented on #152
@ronaldruzicka so you are trying to add new icon while devstack is performing initial build?

[2017-03-31 19:25] ronaldruzicka commented on #152
@kettanaito when `gulp --dev` is running and you create a new icon directly inside a sprite folder (`gfx/sprite`) you get that error. But I'm not sure how much we can do about it, it's probably mostly for the plugin developers. But you can just create icon inside `gfx` folder and then move it to ,`gfx/sprite` and it works.

[2017-04-04 11:12] vbulant commented on #117
I think the extension shown by Ronald is fine. Let’s stick with that. @kettanaito thanks for your clarification.

[2017-04-04 11:12] #117 closed, assigned to nobody

[2017-04-11 12:26] #132 closed, assigned to vbulant

[2017-04-11 12:45] ronaldruzicka commented on #152
I think we can close this issue, because it's not a bug on our side

[2017-04-11 12:45] #152 closed, assigned to janpanschab, vbulant, kettanaito, ronaldruzicka

[2017-04-11 14:16] #149 closed, assigned to nobody

[2017-04-11 14:34] vbulant commented on #101
@ronaldruzicka two macros and their composition in templates seems too complicated to me. We won’t use them separately anyway and calling just `{{ svg(…) }}` is more straightforward.

What about having just
[code]

I appreciate that your approach avoids too many arguments in one macro but I think the added complexity isn’t worth it.

[2017-04-11 14:36] vbulant commented on #101
After we finalize this `macro` tweak, we’re gonna close the issue as it’s rotting here for several months. Once someone investigates the matter on any new project, we’re gonna reevaluate it again.

[2017-04-11 14:41] #135 closed, assigned to nobody

[2017-04-11 15:12] vbulant commented on #51
Already implemented in stylelint and eslint.

[2017-04-11 15:52] #136 closed, assigned to nobody

[2017-04-11 16:07] #139 closed, assigned to vbulant

[2017-04-11 16:09] #128 closed, assigned to vbulant

[2017-04-11 16:16] vbulant commented on #133
@janpanschab any update from the KB project?

[2017-04-11 16:17] #129 closed, assigned to vbulant

[2017-04-11 16:18] vbulant commented on #82
@zoltan-kovac any luck with the **factory/collapse** example? If not, I’ll try to do something simple.

[2017-04-11 16:24] vbulant commented on #50
@kettanaito Is this one still relevant?

[2017-04-11 16:25] vbulant commented on #86
Related: https://github.com/actum/gulp-dev-stack/issues/146

[2017-04-11 16:30] vbulant commented on #86
Is the devstack the right place for Bootstrap examples or tutorials of any sort?
Shouldn’t it be the minimal boilerplate instead?

Another option is to create smaller projects focused on those topics (how to write/use x/y) so that anytime we want someone to learn something we hand them simple learning project and at the same time we keep the devstack simple.

[2017-04-11 16:38] vbulant commented on #151
I don’t think we need that from the performance perspective, see https://helloanselm.com/2014/web-performance-one-or-thousand-media-queries/

Regarding the filesize, we should try it on a large project (maybe zindulka) and compare gzipped results. I belive gzip will almost strip the difference but let’s see…

[2017-04-11 20:57] vbulant commented on #115
Support for `exceptMethod` [has been added](https://github.com/eslint/eslint/blob/master/docs/rules/class-methods-use-this.md)

Let’s try it and close the issue.

[2017-04-12 07:03] janpanschab commented on #133
No problems on KB. Looks like its fixed.
What about @ronaldruzicka on Walmark?

[2017-04-12 07:05] janpanschab commented on #86
Would be so nice.

[2017-04-12 07:06] janpanschab commented on #151
Exactly, do not forgot to gzip.

[2017-04-12 10:21] ronaldruzicka commented on #151
I'm closing this issue as I see it's not valid so much

[2017-04-12 10:21] #151 closed, assigned to janpanschab, vbulant, kettanaito, ronaldruzicka

[2017-04-12 10:23] ronaldruzicka opened #162 "define eslint config in .eslintrc file"
I would like to have eslint rules defined in `.eslintrc` file like `.stylelintrc`, so that it's easily found and customized. It would also be good for [prettier plugin](https://github.com/prettier/prettier) available for Atom, Sublime Text and also Visual Studio/Code

[2017-04-12 10:25] ronaldruzicka commented on #133
@janpanschab I'm not using Artem's solution on Walmark, I manually reload so far 😅

[2017-04-12 10:34] vbulant commented on #162
Let’s do that.

**Reasoning:**
While it seemed to be a noble idea to have _eslint-config-actum_, we’ve been running into multiple issues with it lately. Eg. people didn’t know how to extend it so they turned it out altogether and added .eslintrc anyway and on top of that they messed up dependencies so the whole pipeline didn’t work. On top of that, _prettier_ (and possibly other tools as well) nee

[2017-04-12 10:36] vbulant commented on #133
OK so is there actually anyone experiencing the issue?
If not, I suggest closing the issue and creating the new one once we can reproduce it.

[2017-04-12 10:59] kettanaito commented on #162
Please note that `.eslintrc` is [deprecated](http://eslint.org/docs/user-guide/configuring#configuration-file-formats). One of the recommended usage may be `.eslintrc.js`.

[2017-04-12 11:03] kettanaito commented on #86
@vbulant This may be irksome to maintain. Apart from technologies change (i.e. Bootstrap 4 grid uses different syntax than Bootstrap 3), each project may use its own versions of the same technology, or even a brand new one.

I like that homepage displays the list of available pages. Would be nice to display the same for available components. This brings in the question of creating a boilerplate fo

[2017-04-12 11:04] kettanaito commented on #50
@vbulant I haven't got much time to finish this. I know @janpanschab has provided the solution, so maybe try asking him if this issue may be covered by it. Thanks.

[2017-04-12 11:20] ronaldruzicka commented on #133
Well we have the problem, I usually (90% of all changes) have to reload the `.nunj` template to update the HTML. CSS works normally. So if the solution on KB works, let's use it

[2017-04-12 11:23] vbulant commented on #162
@kettanaito thanks!

Let’s use [`.eslintrc.js`](http://eslint.org/docs/user-guide/configuring#configuration-file-formats) and try if prettier works with it. If not, let’s stick with `.eslint` and wait for the update.

[2017-04-12 11:25] kettanaito opened #163 "Use React as a templating engine"
This topic was raised way back in the past by @vbulant. At that point of time we found some disadvantages to switch to React as a templating engine choice. When thinking of it now, I cannot come with a single disadvantage at the first glance.

## What
Use React as a *templating* engine.

## Why
1. **React === JavaScript**. This brings variables, loops, inheritance, extendibility, flexibility and m

[2017-04-12 11:54] ronaldruzicka commented on #133
Ok, so I tried `.pipe(browserSync.reload({stream: true}));` and it works really nice and quite fast. So I think we can change our `.pipe(browserSync.stream({ once: true }));` for it. Because time to time it didn't reload anything and I had a white screen until manual reload.

On the other hand I just noticed, that one small change in one template reloads all pages, which in bigger project could ta

[2017-04-12 12:26] janpanschab commented on #50
Implemented solution is basically for fonts from CDN - google fonts, etc.

[2017-04-12 13:06] #150 closed, assigned to vbulant

[2017-04-12 13:17] vbulant commented on #50
OK so to move into some direction…

This issue is about self-hosted fonts. Regarding FOUT/FOIT/whatever – let’s open a separate issue for that once needed.

**Back to @kettanaito’s proposal** (the original on the very top):
It looks neat but do we really need that? What is the benefit?
Usually we define fonts once and then use them so I think having a pipeline is quite extraneous.

[2017-04-12 13:24] vbulant commented on #86
@kettanaito

I see, but that’s related to https://github.com/actum/gulp-dev-stack/issues/146 so let’s continue on this topic there.

[2017-04-12 13:29] vbulant commented on #86
I’ve added **on hold** label coz I think we should discuss https://github.com/actum/gulp-dev-stack/issues/163 first. In case we go for it, this issue is not relevant anymore or at least it should be implemented after #163.

[2017-04-12 13:37] vbulant commented on #146
I’ve added on hold label coz I think we should discuss #163 first. In case we go for it, this issue is not relevant anymore or at least it should be implemented after #163.

[2017-04-12 21:21] #162 closed, assigned to vbulant

[2017-04-12 21:21] #51 closed, assigned to vbulant

[2017-04-12 21:24] ronaldruzicka commented on #101
I just got used to nest the macros from the Sitecore Habitat Demo project, but this solution is also good. We just need to modify both `svg` and `use` and this works.

So we can implement this updated macro.

[2017-04-13 07:44] vbulant commented on #101
OK, cool, let’s go for it.

We can benefit from nested macros as soon as we need something more composable (those that are going to be used both together and separately).

[2017-04-13 09:23] kettanaito commented on #82
Sorry for interrupting, I've just got an idea come into my mind: Each project I have participated in uses anchor scroll navigation (from regular "Go to top" to custom in-page navigation between anchor breakpoints). Sometimes even such a simple thing as this may cause a lot of extra code (hidden containers for anchors, unnecessary events and hooks in JavaScript). I think this might have been a good

[2017-04-13 12:16] zoltan-kovac commented on #82
@vbulant I have this branch somewhere. Will put it together during the easter. My solution is animating height with css transitions, with hooks on transitionEnd event. This is the bootstrap approach. If we really want simpler solution, maybe go ahead.

[2017-04-13 12:18] ronaldruzicka commented on #82
@kettanaito it's a nice example, but I wouldn't use `[data-scroll-to]` as selector, but rather a `class="js-scrollTo"` for the JS init and use `[data-scroll-to]` only as info where to scroll
[https://intuio.at/blog/dont-use-data-attributes-to-find-html-elements-with-js/](https://intuio.at/blog/dont-use-data-attributes-to-find-html-elements-with-js/)

[2017-04-13 12:35] kettanaito commented on #82
@ronaldruzicka a valid argument. Sure, it was just an example :)

P.S. However, now returning to benchmarks regarding `getElementsByClassName` vs `querySelectorAll`: the first method is faster **in a larger scope**. I think this is what should be taken into account. When running a selector over 10,000+ elements it sure has a significant superiority over `querySelectorAll`, but you will unlikely to

[2017-04-17 07:57] kettanaito commented on #133
Having dug into BrowserSync documentation I assume this can cause the issue:
[code]
These are the directories BrowserSync is watching and subsequently reacts (refreshes the page/appends the resources) on changes. For me it was always unclear why do we serve source directories, when we never use any source files directly (SASS -> CSS, ES5/6 -> JS, NUNJ -> TPL).

## What happens
I believe that Brows

[2017-04-17 10:08] ronaldruzicka commented on #133
@kettanaito I also don't understand why we should serve the `DEVELOPMENT_BASE`, but anyway it didn't work, it was one change late. And unfortunately neither the `.pipe(browserSync.reload({stream: true}));` works properly, just sometimes. So probably so far only `gulp-wait` can solve this issue, as is in KB project:
[code]
but for me it had to be at least `.pipe(wait(1500))`

**UPDATE**:

1. can we

[2017-04-17 17:11] kettanaito commented on #133
@ronaldruzicka is there a repo to reproduce this issue (KB, etc.)?

[2017-04-17 17:17] kettanaito commented on #110
As far as I know Flow encourages you to use flow-typed libraries alongside it. I am sure this can be excluded/disabled within its config, yet at the other hand it seems like a potential issue-raiser (since our devstack is oriented for everyone), and disables a part of advantages as well.

In general, imho it would be good to keep it as plain as possible. So everybody can add technologies they like

[2017-04-17 17:20] ronaldruzicka commented on #133
@kettanaito I suppose, that any project using our gulp dev stack, but you can try Klub Zdravi, we have the issue there

[2017-04-20 11:42] vbulant commented on #82
In case anyone wants to continue with @zoltan-kovac’s collapse, it’s pushed here: https://github.com/actum/gulp-dev-stack/tree/82-collapse

[2017-04-26 21:07] #115 closed, assigned to vbulant

[2017-04-30 12:11] kettanaito commented on #133
@ronaldruzicka @janpanschab Try [reloadDelay](https://www.browsersync.io/docs/options#option-reloadDelay) from BrowserSync options. Should help in this situation and save from adding extra dependency to the devstack.

However, I think this is more a work-around rather than actual solution. My gist still goes with the issue that we serve development files, changes in which trigger reload.

[2017-05-02 08:35] ronaldruzicka commented on #133
@kettanaito Thanks, it looks like `reloadDelay` works!
Regarding your solution, I tried to change the it to serve production files and it didn't work for me. Did you try that solution? Did it work for you?

[2017-05-02 09:40] kettanaito commented on #133
@ronaldruzicka I'm glad it worked!

No, I haven't tried removing dev files from served. But I really think we should, can't find a reason to do so, to be honest.

[2017-05-06 09:58] Lin84 opened #167 "remove old gulp task: gulp-uglify"
in the gulp task for JS we have 2 plugins that do the same thing = Minify JavaScript with UglifyJS2.
'gulp-uglify'
and
'uglifyify'

We should use only one of them. As @janpanschab recommended: using only 'uglifyify' and remove 'gulp-uglify'.

[2017-05-15 18:46] janpanschab commented on #133
Still facing the same issue. Gulp wait looks like good enough solution. If I’m right, reloadDelay is possible to use only for whole browserSync setup. Not for one task only. In that case, gulp wait is better for me.

[2017-05-17 11:39] ronaldruzicka commented on #167
I just tested the missing `uglify` task in Walmark project, and there was a significant difference between the file size.
with: 237KB
without: 731KB

So I think that we should put it back to dev stack.

[2017-05-17 11:47] vbulant commented on #167
@ronaldruzicka Yes, we should. A bit of reasoning: https://github.com/actum/gulp-dev-stack/pull/168#issuecomment-300084283

[2017-05-17 12:53] kettanaito commented on #163
Since this change is unlikely to happen soon, I have set up a feature branch for this and will play with it to achieve the most optimal results.

[2017-05-18 07:52] kettanaito opened #169 "Webpack 2 (3)"
## Introduction
[Webpack](https://webpack.js.org) is undoubtedly one of the greatest things to handle JavaScript (any not only) bundling and serving for development **and production** environments.

## Benefits
* **Flexibility**. You can configure the source and transformation chain (loaders, plugins) to process your files. **Result:** Easily adoptable to any project's needs.

* **Performance:**

[2017-05-18 09:44] fidelman commented on #169
@kettanaito If you need any help, I'm in a deal

[2017-06-30 09:29] ronaldruzicka commented on #133
Hey, I think I just solved this issue! According to [documentation](https://browsersync.io/docs/gulp/#gulp-reload) I created two tasks for templates. One for compiling and another one for checking if the compile is done and then reloads the browser.

**task to compile (our old `tpl`):**
[code]

**task to wait and reload browser:**
[code]
**and the output is:**
![screen shot 2017-06-30 at 11 26 45]

[2017-07-11 09:16] vbulant commented on #133
Works like a charm! Thanks 🤗

[2017-07-12 08:10] #133 closed, assigned to vbulant, zoltan-kovac, FilipMessa, honzachalupa, kettanaito, ronaldruzicka

[2017-08-02 10:28] zmrhaljiri opened #177 "Merge init and factory functions?"
### Idea
What about to use only `init()` with the logic distinguishing single/multiple calls within?
Would be good idea to do the following checks?

- If input length is 0, `return undefined`
- If input length is 1, `return fn(container, ...args)`
- If input length is greater than 1, `return [...containers].map(container => fn(container, ...args));`

(Also in that case `return fn(container, ...arg

[2017-08-02 10:48] janpanschab commented on #177
There are cases where you want to initialize only one instance and pass multiple containers/inputs. I have use it several times.

[2017-08-02 18:07] #167 closed, assigned to Lin84

[2017-08-09 07:50] DavidSlavik commented on #169
Hello all,

we created "testing team" with @ronaldruzicka and @zmrhaljiri who will try if your version is ready for use. Hope that we will give you feedback very soon.

Thanks for your effort!

[2017-08-09 07:51] DavidSlavik commented on #169
Please, update particular tasks by checking of checkboxes in your description.

[2017-08-09 20:24] kettanaito commented on #169
@DavidSlavik hello.
Testing team sounds great! I would like to gather all the feedback I can get once the implementation is testable.

However, my project workload does not allow me to spend as much time as I would want to on this internal task. I have checked the steps I've done so far, apart from the research on the web (which is not a step itself). I do not find current state as testable.

I wo

[2017-08-10 07:29] vbulant commented on #169
@kettanaito There seems to be some kind of non-route based code splitting in Next.js 3: https://zeit.co/blog/next3

[2017-08-10 09:11] kettanaito commented on #169
@vbulant thanks for the link!
I am not very familiar with Next, yet from the things I've heart it is still based on routes. There are a few mentions of dynamic imports, which is good, but rather a flavor than a solution.

We can still use dynamic imports with Babel (maybe even without now), which resolves into a Promise. The code splitting always worked at the import point (it is not related to dy

[2017-08-12 16:41] ronaldruzicka commented on #101
Do we still have some unsolved issues with the `svg` elements? Or can we close this issue?

[2017-08-12 21:38] zmrhaljiri commented on #177
I see. Then I would suggest to pass an additional parameter to the `init()` function and then add id to the check. This way I will use only one file containing the shared code inbetween current `init()` and `factory()` functions. What do you think?

[2017-08-14 07:11] janpanschab commented on #177
I don’t understand. Give me an example, please.

[2017-08-14 09:13] kettanaito commented on #177
@zmrhaljiri I completely agree to have *one* init method controllable through custom options. This is simple, intuitive, and decreases the chance of using `init`/`factory` wrong, as opposed to now.

Please correct me if I get you wrong, I think you are talking about something similar:
[code]

[2017-08-14 10:07] kettanaito opened #178 "Do not name modules "module""
### What
We should not have a module/component named "module".

### Why
`module` is a global variable inserted into code during the compilation. For instance, module is also responsible for HMR in webpack builds. We have just experienced this issue with @ronaldruzicka today morning:
[code]
There are no hot updates accepted, since `module` is being overwritten with our custom component with the sam

[2017-08-15 19:51] ronaldruzicka opened #180 "Critical CSS"
Hey folks! I would like to start a discussion about `critical.css` and how we are/should use it in our devstack.

For what I know now, there are two possible ways to go:
1. automation: [npm module](https://github.com/addyosmani/critical)
2. manual: [critical css generator](https://jonassebastianohlsson.com/criticalpathcssgenerator/)

The idea now, as I understand, is to manually create `critical.c

[2017-08-15 19:53] ronaldruzicka commented on #178
I'm doing an update of our packages and for the `js` example I named the module `suffix.js` since it's adding a `_js` suffix to the title. But maybe we can create some better `js` example.

[2017-08-16 08:02] kettanaito commented on #178
@ronaldruzicka nice!
But I really don't see the point of having something which doesn't contribute to the end-product's value. This is like setting up hidden bombs in the code, which may lead to code leftovers.
Good example is what @zoltan-kovac has discovered recently: there is a `PlusOne` example from our devstack being bundled for the production of one of our projects :/
I remember some discuss

[2017-08-16 08:39] vbulant commented on #180
Thanks for opening the discussion.

Both ways to handle the generation are basically the same, the difference is just in manual/automated workflow. The automated one should be the way to go for sure.

But the real issue is that it won’t work that well with dynamically generated websites (ie. CMS based) coz you don’t know the final page contents at the time of critical CSS generation (user can choo

[2017-08-16 08:49] kettanaito commented on #180
@vbulant however, automatic CSS generators are often based on analyzing simple html files, which we do have for most of our projects (templates for Sitecore and Kentico are compiled into html in the end).

I understand, that is not the same as the final version, but very close to it. During the html parsing those tools usually collect IDs and class names used on the page (above the fold), and extr

[2017-08-16 08:56] vbulant commented on #178
@ronaldruzicka there also is a cookie law module as an example so I think we may delete the suffix.js (previously module.js) altogether…

Regarding @kettanaito’s concern – I find it difficult to address it. The same may happen with the bootstrap.less – you can include half of the bootstrap modules while using only a handful of them. So it’s more about the developer’s care I think. But in general I

[2017-08-16 09:00] vbulant commented on #178
There is another discussion about JS examples: https://github.com/actum/gulp-dev-stack/issues/82 The `Collapse` component mentioned by @kettanaito is mentioned there as well.

[2017-08-16 09:06] vbulant commented on #180
@kettanaito well it may be close to the final version, but it may still happen that final component order will be different on a final version and thus on the first render it will lack it’s CSS.

You’re right that it differs from project to project. I think good idea might be to try critical CSS in some upcoming project and then create a new critical CSS boilerplate apart from the devstack.

[2017-08-16 09:09] kettanaito commented on #180
Sounds like a good **and very important** Actum Lab project, @ronaldruzicka :)

[2017-08-16 09:12] kettanaito commented on #169
## Update (16.08)
* Had a productive discussion with @ronaldruzicka about using the most from Webpack for production build to achieve optimal bundle size
* Had a small discussion with @bebraw (one of the members of Webpack core team) regarding code splitting for non router-based applications. I made a proposal to him to provide an example of this in his next presentation. He agreed.
* Currently an

[2017-08-16 09:16] ronaldruzicka commented on #180
Well, I can try it on Walmark Line and see, when we finished Homepage, I can try it how it works, and decide if to continue with it or not ;)

Thanks for the input!

[2017-08-16 09:16] vbulant commented on #180
Another possibility to avoid the complex machinery of critical CSS is to use atomic/functional CSS aka Tachyons, BassCSS etc.

In case we’re gonna have the critical CSS boilerplate, this possibility should be listed there as well IMO.

[2017-08-16 09:17] kettanaito commented on #106
Actually, regarding environment handling, I have one idea and will introduce it under Webpack 2 (`2.0`) branch. I will try to combine simplicity of this suggestion, but take into account that anything under `process.env` is always a string, and will always resolve to `true` when used not carefully.

I think we can close this issue.

[2017-08-16 09:17] #106 closed, assigned to kettanaito

[2017-08-16 09:40] ronaldruzicka commented on #180
Atomic CSS is great, but not for Kentico projects😅

Since Kentico has a lot of code inside it's administration a Backend developer has to change the classes if there are some changes in design. On the other hand it can be easily used with Sitecore or other projects, where source code is inside template files and not directly in CMS administration

[2017-08-16 09:48] kettanaito commented on #180
@ronaldruzicka Atomic approach in CSS should work for any project, if it was *designed with Atomic approach in mind*. Overall, the pattern of handling the end code as you have described cuts off a lot of CSS optimization techniques.

[2017-08-16 10:49] ronaldruzicka commented on #180
@kettanaito I understand, but if there are changes in design, and you have to change e.g. `padding-top` on some component, it's more complicated to do it with Atomic CSS inside Kentico.

If you had BEM, it would be just change in CSS:
[code]
But with Atomic approach, you have to change it in HTML, which means, that you have to modify it in our `nunjucks` templates first and then wait for Kentico d

[2017-08-16 10:59] kettanaito commented on #180
@ronaldruzicka probably I understand this wrong. Atomic design is just a set of mind that each page consists of smaller parts - components, each component consists of smaller parts - atoms. Parts should be reusable and should not rely on context.

Even BEM can be considered as Atomic approach, since it's aimed at designing small independent reusable modules. The thing you have described looks more

[2017-08-16 11:55] vbulant commented on #180
It’s true that the word atomic is quite misleading. Let’s use low-level or functional CSS for methodologies like Tachyons.

[2017-08-16 14:07] ronaldruzicka commented on #180
@kettanaito Yeah, it's just a misunderstanding of the terms, for me **atomic design** is what you mean by reusable components (atoms, components, molecules or whatever...) and **atomic CSS** is approach which takes utilities like classes, e.g. `pt-10`, `bg-white`, like Tachyons. 🙂

[2017-08-16 14:18] kettanaito commented on #180
@ronaldruzicka @vbulant I am sorry, indeed, I understood it wrong. Thanks for explaining :)

[2017-08-17 08:34] vbulant opened #183 "Change name"
I think with the inclusion of webpack we should rename the devstack. Gulp is just one of the used technologies so I think it shouldn’t be emphasized in the name anymore.

If you agree, add you suggestions to comments (one at a time) and we can vote for them using 👍 emojis.

[2017-08-17 08:34] vbulant commented on #183
frontend-devstack

[2017-08-17 08:34] vbulant commented on #183
fe-devstack

[2017-08-17 09:28] kettanaito commented on #169
## Update (17.08)
* Plan to investigate proper React bundling for production. It seems that `webpack.DefinePlugin()` and DLL bundle do not work well together (might be a Webpack bug)
* It would be good to quickly setup a minimal bundle aliases for webpack configuration

[2017-08-31 08:08] kettanaito commented on #169
## Update (30.08)
* Tested app/vendor bundling with a BundleAnalyzer, making app bundle size optimal, and do not contain any `node_modules` modules
* Provided the basics of reusable webpack configuration parts. After spending some time with the merging strategy of webpack configurations, I found out it is not very friendly when trying to achieve granular control over bundle's transformation pipeli

[2017-08-31 08:15] kettanaito commented on #183
I think we can safely change the name, it has been two weeks since this request was posted.
Probably, this will require to update the `remote` point for all repository contributors, right?

[2017-08-31 08:16] vbulant commented on #183
@kettanaito Yep, I guess so (remote).

[2017-09-25 14:06] kettanaito commented on #169
## Update (25.09)
After some period I finally got time to spend on the task.
* Simplified internal bundling logic, made it more simple and, therefore, faster
* Introduced basic Production pipeline for `app` bundle:
  * Minification, top-level (safe) mangling
  * Dead code elimination (tree shaking)
  * Stripping React's propTypes
  * (*Optional*) Gzip compression (by passing `--gzip` in the CLI)

[2017-10-27 09:39] kettanaito opened #185 "(Important) Dramatic changes"
Hello, guys.

I would like to ask you please **do not do any dramatic changes** in the repo! By the latter I mean:
* changes in `package.json` related to dev/save dependencies
* changes in folder structure
* changes in the architecture

As you may know, I am working on the new version of the dev-stack, which will include a lot of great features we are not using in the current one. It will remove *

[2017-10-27 09:42] kettanaito commented on #169
## Update (27.10)
* After almost a month of break I need to solve merge conflicts with the current `master` branch first
* In the current state webpack compiles all the necessary bundles separately. Now I will integrate proper gulp tasks into the build pipeline to automate the builds
* `webpack-dev-server` and HMR are in the scope as well

[2017-10-27 09:43] kettanaito commented on #110
I think we can close this issue, can't we? @janpanschab @vbulant

Strong typing *is* a must, but Flow is not the only option ;) Generally, it's not difficult to setup any type checking supersets.

[2017-10-28 16:09] vbulant commented on #110
@kettanaito Yes, I don’t think it should be enforced by the devstack.

[2017-11-01 09:41] kettanaito commented on #185
@janpanschab @vbulant @ronaldruzicka @zoltan-kovac @Lin84

[2017-11-13 14:28] kettanaito commented on #169
## Update (13.11)
* (Past update) Resolved numerous merge conflicts with the latest master, mainly caused by dramatic structure changes of project's dependencies. The latter are now properly aligned, everything required by the app to run is moved into `dependencies` (this gets included into `vendor.js` automatically), everything needed for development - into `devDependencies`.
* Started the integr

[2017-11-13 15:12] kettanaito commented on #110
Closing? :) @janpanschab

[2017-11-13 16:07] #110 closed, assigned to janpanschab

[2017-11-15 10:36] DavidSlavik commented on #180
Hello, regarding to commucation in my team I deleted critical css from default layout page. Mostly we don't need this feature. We will solve it ad hoc.

[2017-11-15 10:36] #180 closed, assigned to nobody

[2017-11-15 10:38] DavidSlavik commented on #177
@janpanschab Can I ask you for some feedback?

[2017-11-15 10:40] DavidSlavik commented on #183
I have a lot of documents with the link to this repo. I'm afraid that this links will be broken, when we change then name of repo.

[2017-11-15 12:34] janpanschab commented on #177
@zmrhaljiri @kettanaito @DavidSlavik @vbulant I don’t see a big difference between these two approaches, but why not. Maybe only renaming the `factory` function would solve the problem.

In general I don’t like monster functions with too many arguments and huge options. It could be really nice small two functions. But definitely I don’t want to block this. As I said. It is not a big change IMHO.

[2017-11-15 13:17] DavidSlavik commented on #86
Closing because it's obsolete...

[2017-11-15 13:17] #86 closed, assigned to nobody

[2017-11-15 13:26] DavidSlavik commented on #177
From my perspective using of two functions what is similar, but different is more readable than joined functionality with many arguments. Actually init and factory functions are called with many parameters and I don't want to add another one. App.js file is more readeble, because I'm able to read if component can be many time on page or once. I prefer actual solution.

@ronaldruzicka @omladek plea

[2017-11-15 13:41] omladek commented on #177
I am fine with the current state as it is (separate `init` and `factory` and `render`).

[2017-11-15 15:52] kettanaito commented on #169
## Update (15.11)
* Proceeding with webpack bundle tasks integration into the build pipeline
  * Introduced `webpack-hot-middleware` and `webpack-dev-middleware` attached to BrowserSync. This is the best option to use when you rely on BrowserSync anyway (for template and css hot reload)
  * Unshift necessary entry modules into the `app.js` to enable hot reloading and HMR

[2017-11-15 19:15] ronaldruzicka commented on #177
I am also fine with the current solution with `init` and `factory` as separate functions.

[2017-11-16 12:17] DavidSlavik commented on #177
Ok, we leave it is now.

[2017-11-16 12:17] #177 closed, assigned to janpanschab, DavidSlavik, zmrhaljiri

[2018-01-31 20:28] kettanaito commented on #169
## Update 31.01
Thank you for everyone participating in the latest Actum Academy! I'm looking forward to continuing my research after the budged will be handled.

### Changelog
* Implemented the basics of HMR, provided shallow testing

### TODO
* Brain-storm on the efficient way of code splitting for hybrid websites
* Ensure reusable webpack folder structure (configs, utils)

[2018-02-07 07:27] zoltan-kovac opened #190 "Update React.js to v16.x.x"
I believe its time. What do you think?

[2018-03-05 13:51] fidelman commented on #190
Quick overview:
https://egghead.io/courses/leverage-new-features-of-react-16

WesBos:
`smb://share.wmc.local/ActumData/A_Internal/Knowledge base/Library/Javascript & jQuery/React for beginners`

Deep understanding:
https://github.com/fidelman-study/react-v16/blob/master/README.md

[2018-03-05 13:56] fidelman commented on #190
we will wait for .3 version

[2018-03-21 15:58] fidelman commented on #183
@DavidSlavik  @vbulant  @kettanaito  Not sure,
We renamed the [ui-kit repo](https://github.com/actum/ui-kit) from [https://github.com/actum/frontend-trends](https://github.com/actum/frontend-trends). if you visit the last link, it will redirect you to the actual repo.

[2018-03-21 16:08] fidelman opened #197 "requireDiv does not work with Node v8"
When you try to run any gulp task, you can face up
[code]
when you try to reinstall the `require-dir` module
[code]
The current node version *8.10.0* and can we make up a solution except *down*dating node?

[2018-03-21 16:21] fidelman commented on #197
Temporarily fixed on my machine.
Instead of `requireDir(path)`
Added
[code]

[2018-03-22 21:02] #197 closed, assigned to nobody

[2018-03-22 21:03] fidelman commented on #197
solved, just updated requireDiv/yarn/npm

[2018-04-03 09:32] fidelman opened #198 "Get External IP"
Pass external IP from browser-sync to JS and Nunjucks environments.

[2018-04-06 15:03] fidelman commented on #198
https://github.com/actum/gulp-dev-stack/pull/199/

[2018-05-11 08:12] Vidlec commented on #169
I suggest using Webpack 4 straight away